<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Annee:</strong>
    <%= evaluation.annee %>
  </p>

  <p>
    <strong>Pouvoir gouvernance part salaries associes:</strong>
    <%= evaluation.pouvoir_gouvernance_part_salaries_associes %>
  </p>

  <p>
    <strong>Pouvoir gouvernance taux societariat femmes:</strong>
    <%= evaluation.pouvoir_gouvernance_taux_societariat_femmes %>
  </p>

  <p>
    <strong>Pouvoir gouvernance part salaries conseil:</strong>
    <%= evaluation.pouvoir_gouvernance_part_salaries_conseil %>
  </p>

  <p>
    <strong>Pouvoir gouvernance part femmes conseil:</strong>
    <%= evaluation.pouvoir_gouvernance_part_femmes_conseil %>
  </p>

  <p>
    <strong>Pouvoir gouvernance diversite categories:</strong>
    <%= evaluation.pouvoir_gouvernance_diversite_categories %>
  </p>

  <p>
    <strong>Pouvoir democratie nombre reunions:</strong>
    <%= evaluation.pouvoir_democratie_nombre_reunions %>
  </p>

  <p>
    <strong>Pouvoir democratie taux participation formations:</strong>
    <%= evaluation.pouvoir_democratie_taux_participation_formations %>
  </p>

  <p>
    <strong>Pouvoir democratie nombre accords signes:</strong>
    <%= evaluation.pouvoir_democratie_nombre_accords_signes %>
  </p>

  <p>
    <strong>Pouvoir democratie accords signes:</strong>
    <%= evaluation.pouvoir_democratie_accords_signes %>
  </p>

  <p>
    <strong>Pouvoir strategique taux presence assemblee:</strong>
    <%= evaluation.pouvoir_strategique_taux_presence_assemblee %>
  </p>

  <p>
    <strong>Pouvoir strategique actifs total:</strong>
    <%= evaluation.pouvoir_strategique_actifs_total %>
  </p>

  <p>
    <strong>Pouvoir estimation realite:</strong>
    <%= evaluation.pouvoir_estimation_realite %>
  </p>

  <p>
    <strong>Valeur perennite part capital salaries:</strong>
    <%= evaluation.valeur_perennite_part_capital_salaries %>
  </p>

  <p>
    <strong>Valeur perennite existence reserve:</strong>
    <%= evaluation.valeur_perennite_existence_reserve %>
  </p>

  <p>
    <strong>Valeur perennite reserve impartageable:</strong>
    <%= evaluation.valeur_perennite_reserve_impartageable %>
  </p>

  <p>
    <strong>Valeur perennite part resultat reserve:</strong>
    <%= evaluation.valeur_perennite_part_resultat_reserve %>
  </p>

  <p>
    <strong>Valeur perennite ebe caht:</strong>
    <%= evaluation.valeur_perennite_ebe_caht %>
  </p>

  <p>
    <strong>Valeur perennite part endettement:</strong>
    <%= evaluation.valeur_perennite_part_endettement %>
  </p>

  <p>
    <strong>Valeur perennite attention questions innovation:</strong>
    <%= evaluation.valeur_perennite_attention_questions_innovation %>
  </p>

  <p>
    <strong>Valeur partage part resultat net actionnaires:</strong>
    <%= evaluation.valeur_partage_part_resultat_net_actionnaires %>
  </p>

  <p>
    <strong>Valeur partage existence accord:</strong>
    <%= evaluation.valeur_partage_existence_accord %>
  </p>

  <p>
    <strong>Valeur partage existence epargne salariale:</strong>
    <%= evaluation.valeur_partage_existence_epargne_salariale %>
  </p>

  <p>
    <strong>Valeur partage part resultat salaries:</strong>
    <%= evaluation.valeur_partage_part_resultat_salaries %>
  </p>

  <p>
    <strong>Valeur partage existence grille salariale:</strong>
    <%= evaluation.valeur_partage_existence_grille_salariale %>
  </p>

  <p>
    <strong>Valeur partage publicite grille:</strong>
    <%= evaluation.valeur_partage_publicite_grille %>
  </p>

  <p>
    <strong>Valeur partage ecart revenus hauts bas:</strong>
    <%= evaluation.valeur_partage_ecart_revenus_hauts_bas %>
  </p>

  <p>
    <strong>Valeur partage index egalite homme femme:</strong>
    <%= evaluation.valeur_partage_index_egalite_homme_femme %>
  </p>

  <p>
    <strong>Valeur estimation realite:</strong>
    <%= evaluation.valeur_estimation_realite %>
  </p>

  <p>
    <strong>Qualite qvt enquete qvt:</strong>
    <%= evaluation.qualite_qvt_enquete_qvt %>
  </p>

  <p>
    <strong>Qualite qvt taux qvt:</strong>
    <%= evaluation.qualite_qvt_taux_qvt %>
  </p>

  <p>
    <strong>Qualite qvt part cdi:</strong>
    <%= evaluation.qualite_qvt_part_cdi %>
  </p>

  <p>
    <strong>Qualite qvt moyenne anciennete:</strong>
    <%= evaluation.qualite_qvt_moyenne_anciennete %>
  </p>

  <p>
    <strong>Qualite qvt taux turnover:</strong>
    <%= evaluation.qualite_qvt_taux_turnover %>
  </p>

  <p>
    <strong>Qualite qvt taux absenteisme:</strong>
    <%= evaluation.qualite_qvt_taux_absenteisme %>
  </p>

  <p>
    <strong>Qualite emancipation moyenne heures formation:</strong>
    <%= evaluation.qualite_emancipation_moyenne_heures_formation %>
  </p>

  <p>
    <strong>Qualite emancipation taux budget formation masse salariale:</strong>
    <%= evaluation.qualite_emancipation_taux_budget_formation_masse_salariale %>
  </p>

  <p>
    <strong>Qualite emancipation taux direction promotion interne:</strong>
    <%= evaluation.qualite_emancipation_taux_direction_promotion_interne %>
  </p>

  <p>
    <strong>Qualite estimation realite:</strong>
    <%= evaluation.qualite_estimation_realite %>
  </p>

  <p>
    <strong>Impact environnement audit impact:</strong>
    <%= evaluation.impact_environnement_audit_impact %>
  </p>

  <p>
    <strong>Impact environnement demarche ecologique:</strong>
    <%= evaluation.impact_environnement_demarche_ecologique %>
  </p>

  <p>
    <strong>Impact environnement part energies renouvelables:</strong>
    <%= evaluation.impact_environnement_part_energies_renouvelables %>
  </p>

  <p>
    <strong>Impact environnement part salaries mobilite:</strong>
    <%= evaluation.impact_environnement_part_salaries_mobilite %>
  </p>

  <p>
    <strong>Impact environnement discussion impact:</strong>
    <%= evaluation.impact_environnement_discussion_impact %>
  </p>

  <p>
    <strong>Impact environnement bilan carbone scope 1:</strong>
    <%= evaluation.impact_environnement_bilan_carbone_scope_1 %>
  </p>

  <p>
    <strong>Impact environnement bilan carbone scope 2:</strong>
    <%= evaluation.impact_environnement_bilan_carbone_scope_2 %>
  </p>

  <p>
    <strong>Impact environnement bilan carbone scope 3:</strong>
    <%= evaluation.impact_environnement_bilan_carbone_scope_3 %>
  </p>

  <p>
    <strong>Impact social part activite structures insertion:</strong>
    <%= evaluation.impact_social_part_activite_structures_insertion %>
  </p>

  <p>
    <strong>Impact social alternance apprentissage:</strong>
    <%= evaluation.impact_social_alternance_apprentissage %>
  </p>

  <p>
    <strong>Impact social part seniors:</strong>
    <%= evaluation.impact_social_part_seniors %>
  </p>

  <p>
    <strong>Impact social part handicap:</strong>
    <%= evaluation.impact_social_part_handicap %>
  </p>

  <p>
    <strong>Impact engagement part resultat missions utiles:</strong>
    <%= evaluation.impact_engagement_part_resultat_missions_utiles %>
  </p>

  <p>
    <strong>Impact engagement part placements responsables:</strong>
    <%= evaluation.impact_engagement_part_placements_responsables %>
  </p>

  <p>
    <strong>Impact engagement part impots france:</strong>
    <%= evaluation.impact_engagement_part_impots_france %>
  </p>

  <p>
    <strong>Impact engagement demarche ethique fournisseurs:</strong>
    <%= evaluation.impact_engagement_demarche_ethique_fournisseurs %>
  </p>

  <p>
    <strong>Impact estimation realite:</strong>
    <%= evaluation.impact_estimation_realite %>
  </p>

</div>
