<% disable = "disabled" unless !defined?(disabled) || disabled != true %>
<%= simple_form_for @evaluation do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset class="row d-flex flex-sm-row flex-column col-11 col-sm-8 text-break me-auto ms-auto rounded bg-white shadow border-start border-primary p-3 p-sm-4 mb-4 col-input mt-4" <%= disable %>>
    <div class="col-12 col-sm-6">
      <%= f.input :annee %>
      <%= f.input :chiffre_affaires %>
      <%= f.input :resultat_net %>
    </div>
    <div class="col-12 col-sm-6">
      <%= f.input :nombre_salaries %>
      <%= f.input :nombre_salaries_etp %>
    </div>
  </fieldset>

  <%# --------------------------------- TITRE PILIER ------------------------------ %>

  <div class="me-auto ms-auto rounded formul d-flex flex-sm-row flex-column justify-content-center align-items-center bg-blue pt-0 pb-0 mt-0 mt-sm-2 col-md-8">
    <span class="d-none d-sm-flex m-2 col-1"><%= image_tag '1.svg', alt: 'numéro 1' %></span>
    <h2 class="m-1 white">Partage du pouvoir et des décisions</h2>
  </div>

  <%# --------------------------------- END ------------------------------ %>

  <%= f.association :indicateurs_list do |il| %>


<div class="accordion" id="accordionPanelsStayOpenExample">


  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <div class="mb-3 col-10 col-sm-8 bg-white rounded-end p-4 mt-5 form-border rounded border-primary">
          <h3 class="text-primary">Composition de la gouvernance</h3>
        </div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
              <fieldset class="d-flex col-sm-6 flex-column justify-content-between align-items-center rounded bg-white shadow" <%= disable %>>
        <%# <legend class="w-auto">Pilier 1 : Partage du pouvoir et des décisions</legend> %>
        <div class="col-sm-10 col-8">
          <%= il.input :pouvoir_gouvernance_part_salaries_associes %>
          <%= il.input :pouvoir_gouvernance_taux_societariat_femmes %>
          <%= il.input :pouvoir_gouvernance_taux_droits_vote_salaries %>
          <%= il.input :pouvoir_gouvernance_part_salaries_conseil %>
          <%= il.input :pouvoir_gouvernance_part_femmes_conseil %>
        </div>
        <div class="w-100 mb-5 me-auto ms-auto list-diversite">
          <%= il.input :pouvoir_gouvernance_diversite_categories, as: :check_boxes, collection: ['Salariés', 'Investisseurs', 'Fournisseurs', 'Sous-traitants', 'Clients', 'Experts', 'Syndicats', 'Pouvoirs publics', 'Associations', 'Grand public', 'Autres'], include_hidden: false %>
        </div>
      </fieldset>
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <div class="mb-3 col-10 col-sm-8 bg-white rounded-end p-4 mt-4 mt-sm-5">
          <h3 class="text-primary">Mise en place des conditions du bon exercice de la démocratie</h3>
        </div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <fieldset class="d-flex col-md-6 flex-column mb-4 m-0 row-cols-2 justify-content-between align-items-center rounded bg-white shadow form-border border-start border-primary" <%= disable %>>
          <div class="col-12 col-sm-10">
            <%= il.input :pouvoir_democratie_nombre_reunions %>
            <%= il.input :pouvoir_democratie_taux_participation_formations %>
          </div>
          <div class="col-12 col-sm-10">
            <%= il.input :pouvoir_democratie_nombre_accords_signes %>
            <%= il.input :pouvoir_democratie_accords_signes %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <div class="mb-3 col-10 col-sm-8 bg-white rounded-end p-4 mt-5">
          <h3 class="text-primary">Participation à la prise de décision stratégique</h3>
        </div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <fieldset class="d-flex col-md-6 flex-column mb-4 m-0 row-cols-2 justify-content-between align-items-center rounded bg-white shadow form-border border-start border-primary" <%= disable %>>
          <div class="col-12 col-sm-10">
            <%= il.input :pouvoir_strategique_taux_presence_assemblee %>
            <%= il.input :pouvoir_strategique_implication_partage %>
          </div>
          <div class="col-12 col-sm-10">
            <%= il.input :pouvoir_strategique_actifs_total %>
          </div>
        </fieldset>

        <div class="estim col-11 col-sm-6 text-break me-auto ms-auto rounded bg-white shadow border-start border-secondary pt-1 pb-1 pe-5 ps-5 mt-3 mb-5 col-input">
          <%= il.input :pouvoir_estimation_realite %>
        </div>
      </div>
    </div>
  </div>
</div>


<%# --------------------------------- TITRE PILIER 2 ------------------------------ %>

<div class="me-auto ms-auto rounded formul d-flex flex-sm-row flex-column justify-content-center align-items-center bg-blue pt-0 pb-0 mt-5 col-md-9">
  <span class="d-none d-sm-flex pt-4 pb-4 col-1 "><%= image_tag '2.svg', alt: 'numéro 2' %></span>
  <h2 class="p-4 white">Pérénnité économique et partage de la valeur créée</h2>
</div>

<%# --------------------------------- END ------------------------------ %>


<div class="accordion" id="accordionPanelsStayOpenExample">


  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <div class="mb-3 col-10 col-sm-8 bg-white rounded-end p-4 mt-5">
          <h3 class="text-primary">Pérennité : création de valeur, inaliénabilité et robustesse de l'entreprise</h3>
        </div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
                    <fieldset class="d-flex col-md-6 flex-column mb-4 m-0 row-cols-2 justify-content-between align-items-center rounded bg-white shadow form-border border-start border-primary" <%= disable %>>
        <div class="col-12 col-sm-10">
          <%= il.input :valeur_perennite_part_capital_salaries %>
          <%= il.input :valeur_perennite_part_resultat_reserve %>
          <%= il.input :valeur_perennite_ebe_caht %>
          <%= il.input :valeur_perennite_part_endettement %>
        </div>
        <div class="col-12 col-sm-10 col-input">
          <%= il.input :valeur_perennite_existence_reserve, as: :radio_buttons %>
          <%= il.input :valeur_perennite_reserve_impartageable, as: :radio_buttons %>
          <%= il.input :valeur_perennite_attention_questions_innovation, as: :radio_buttons %>
        </div>
      </fieldset>
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <div class="mb-3 col-10 col-sm-8 bg-white rounded-end p-4 mt-5">
          <h3 class="text-primary">Partage des richesses</h3>
        </div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <fieldset class="d-flex col-md-6 flex-column mb-4 m-0 row-cols-2 justify-content-between align-items-center rounded bg-white shadow form-border border-start border-primary" <%= disable %>>
          <div class="col-12 col-sm-10 col-input">
            <%= il.input :valeur_partage_part_resultat_net_actionnaires %>
            <%= il.input :valeur_partage_part_resultat_salaries %>
            <%= il.input :valeur_partage_ecart_revenus_hauts_bas %>
            <%= il.input :valeur_partage_index_egalite_homme_femme %>
          </div>
          <div class="col-12 col-sm-10 col-input">
            <%= il.input :valeur_partage_existence_accord, as: :radio_buttons %>
            <%= il.input :valeur_partage_existence_epargne_salariale, as: :radio_buttons %>
            <%= il.input :valeur_partage_existence_grille_salariale, as: :radio_buttons %>
            <%= il.input :valeur_partage_publicite_grille, as: :radio_buttons %>
          </div>
      </fieldset>

      <div class="estim col-11 col-sm-6 text-break me-auto ms-auto rounded bg-white shadow border-start border-secondary pt-1 pb-1 pe-5 ps-5 mt-3 mb-5">
          <%= il.input :valeur_estimation_realite %>
      </div>

      </div>
    </div>
  </div>


</div>



<%# --------------------------------- XXXXXXXXX ------------------------------ %>

  <% end %>

  <% unless disable == "disabled" %>
    <%= f.button :submit, "Enregistrer", class: 'btn btn-primary me-auto ms-auto d-flex mb-5' %>
  <% end %>
<% end %>


<script>
  function toggleRadio(event)
{
    if(event.target.type === 'radio' && event.target.checked === true)
    {
        setTimeout(()=>{ event.target.checked = false; },0);
    }
}
document.addEventListener('mouseup', toggleRadio);
</script>
