<%= render "form", evaluation: @evaluation, disabled: true %>

<div>
  <%= link_to "Edit this evaluation", edit_evaluation_path(@evaluation) %> |
  <% if current_user.is_super_admin %>
    <%= link_to "Back to evaluations", evaluations_path %>
  <% else %>
    <%= link_to "Back to dashboard", user_root_path %>
  <% end %>

  <%= button_to "Destroy this evaluation", @evaluation, method: :delete %>
</div>
