<%= render "form", evaluation: @evaluation, disabled: true %>

<div>
  <%= link_to "Éditer cette évaluation", edit_evaluation_path(@evaluation) %> |
  <% if current_user.is_super_admin %>
    <%= link_to "Retour aux évaluations", evaluations_path %>
  <% else %>
    <%= link_to "Retour au tableau de bord", user_root_path %>
  <% end %>

  <%= button_to "Supprimer cette évaluation", @evaluation, method: :delete %>
</div>
