<h1>
	<% if @evaluation.status != 'active' %>
		Nouvelle évaluation
	<% else %>
		Édition de l'évaluation de l'année <%= @evaluation.annee %>
	<% end %>
</h1>
<h2><span class="me-1 m-0">1.</span> Partage du pouvoir et des décisions</h2>

<%= simple_form_for @evaluation, url: wizard_path, method: :put do |f| %>
<%= render 'shared/error_messages', object: f.object %>
	<%= f.association :state do |il| %>

		<h3>Composition de la gouvernance</h3>

		<div class="row align-items-baseline my-5">
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_gouvernance_part_salaries_associes %>
				</div>
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_gouvernance_taux_societariat_femmes %>
				</div>
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_gouvernance_taux_droits_vote_salaries %>
				</div>
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_gouvernance_part_salaries_conseil %>
				</div>
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_gouvernance_part_femmes_conseil %>
				</div>
        <div class="col-12 col-sm-8">
          <%= il.input :pouvoir_gouvernance_diversite_categories, as: :check_boxes, collection: ['Salariés', 'Investisseurs', 'Fournisseurs', 'Sous-traitants', 'Clients', 'Experts', 'Syndicats', 'Pouvoirs publics', 'Associations', 'Grand public', 'Autres'], include_hidden: false %>
        </div>
		</div>


		<h3>Conditions du bon exercice de la démocratie</h3>

		<div class="row align-items-baseline my-5">
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_democratie_nombre_reunions %>
				</div>
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_democratie_taux_participation_formations %>
				</div>

				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_democratie_nombre_accords_signes %>
				</div>
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_democratie_accords_signes %>
				</div>
		</div>

		<h3>Participation à la prise de décision stratégique</h3>

		<div class="row align-items-baseline my-5">
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_strategique_taux_presence_assemblee %>
				</div>
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_strategique_implication_partage %>
				</div>
				<div class="col-md-4 mb-4">
						<%= il.input :pouvoir_strategique_actifs_total %>
				</div>
		</div>

		<div class="col-md-4 mb-4"><%= il.input :pouvoir_estimation_realite %></div>

	<% end %>

	<div class="d-flex mt-5">
			<%= link_to 'Précédent', wizard_path(@previous_step), class: 'btn btn-primary me-auto ms-auto d-flex mb-5 text-white' %>
			<%= f.button :submit, "Suivant", class: 'btn btn-primary me-auto ms-auto d-flex mb-5' %>
	</div>
<% end %>
