<h1>
  <% if @evaluation.status != 'active' %>
    Nouvelle évaluation
  <% else %>
    Édition de l'évaluation de l'année <%= @evaluation.annee %>
  <% end %>
</h1>
<h2><span class="me-1 m-0">2.</span>Pérennité économique et partage de la valeur créée</h2>

<%= simple_form_for @evaluation, url: evaluation_builder_path, method: :post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.association :state do |il| %>

      <h3>Pérennité : création de valeur, inaliénabilité et robustesse de l'entreprise</h3>

    <div class="row align-items-baseline col-input my-5">
      <div class="col-md-4">
        <%= il.input :valeur_perennite_part_capital_salaries %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_perennite_part_resultat_reserve %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_perennite_ebe_caht %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_perennite_attention_questions_innovation, as: :radio_buttons %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_perennite_existence_reserve, as: :radio_buttons %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_perennite_reserve_impartageable, as: :radio_buttons %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_perennite_part_endettement %>
      </div>
    </div>

      <h3>Partage des richesses</h3>

    <div class="row align-items-end col-input my-5">
      <div class="col-md-4">
        <%= il.input :valeur_partage_part_resultat_net_actionnaires %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_partage_part_resultat_salaries %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_partage_ecart_revenus_hauts_bas %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_partage_index_egalite_homme_femme %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_partage_existence_accord, as: :radio_buttons %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_partage_existence_epargne_salariale, as: :radio_buttons %>
      </div>
      <div class="col-md-4 ">
        <%= il.input :valeur_partage_existence_grille_salariale, as: :radio_buttons %>
      </div>
      <div class="col-md-4">
        <%= il.input :valeur_partage_publicite_grille, as: :radio_buttons %>
      </div>
    </div>

    <div class="col-md-4 ">
    <%= il.input :valeur_estimation_realite %>
    </div>

        <div class="col-md-8 estim">
          <%= il.input :valeur_estimation_realite %>
        </div>
      </div>
  <% end %>
</div>

</div>

  <div class="d-flex mt-5">
    <%= f.button :submit, "Enregistrer", class: 'btn btn-primary me-auto ms-auto mb-5 text-white' %>
  </div>
<% end %>

<script>
  function toggleRadio(event) {
    if(event.target.type === 'radio' && event.target.checked === true) {
      setTimeout(()=>{ event.target.checked = false; },0);
    }
  }
document.addEventListener('mouseup', toggleRadio);
</script>
