<h1>
  <% if @evaluation.status != 'active' %>
    Nouvelle évaluation
  <% else %>
    Édition de l'évaluation de l'année <%= @evaluation.annee %>
  <% end %>
</h1>

<h2><span class="me-1 m-0">3.</span>Capital humain et qualité de vie au travail</h2>

<div class="view">
  <%= simple_form_for @evaluation, url: admin_evaluation_builder_path, method: :post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.association :state do |il| %>

        <h3>Mise en place des conditions du bon exercice de la démocratie</h3>

      <div class="row align-items-end col-input my-5">
        <div class="col-md-4">
          <%= il.input :qualite_qvt_enquete_qvt, as: :radio_buttons %>
        </div>
        <div class="col-md-4">
          <%= il.input :qualite_qvt_taux_qvt %>
        </div>
        <div class="col-md-4">
          <%= il.input :qualite_qvt_part_cdi %>
        </div>
      </div>

      <div class="row align-items-baseline col-input my-5">
        <div class="col-md-4">
          <%= il.input :qualite_qvt_moyenne_anciennete %>
        </div>
        <div class="col-md-4">
          <%= il.input :qualite_qvt_taux_turnover %>
        </div>
        <div class="col-md-4">
          <%= il.input :qualite_qvt_taux_absenteisme %>
        </div>
      </div>
      


      <div class="row align-items-baseline my-5">
        <div class="col-md-4">
          <%= il.input :qualite_emancipation_moyenne_heures_formation %>
        </div>
        <div class="col-md-4">
          <%= il.input :qualite_emancipation_taux_budget_formation_masse_salariale %>
        </div>
        <div class="col-md-4">
          <%= il.input :qualite_emancipation_taux_direction_promotion_interne %>
        </div>
      </div>

      <div class="col-8 bg-primary rounded my-5" style="height: 6px"></div>
      <div class="col-md-8 estim">
      <%= il.input :qualite_estimation_realite %>
      </div>
    <% end %>

</div>

  <div class="text-center mt-5">
    <%= f.button :submit, "Enregister", class: 'btn btn-primary' %>
  </div>

<% end %>

<script>
  function toggleRadio(event) {
    if(event.target.type === 'radio' && event.target.checked === true) {
      setTimeout(()=>{ event.target.checked = false; },0);
    }
  }
document.addEventListener('mouseup', toggleRadio);
</script>
