<div class="page-user col-10 m-auto">

  <header>
    <h1 class="h2 p-0">Mon compte</h1>
  </header>

  <div class="form-body mt-0 mb-5 mt-sm-0">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'shared/small_error_message', object: f.object %>

      <div class="modiform row d-flex flex-sm-row flex-column col-10 text-break me-auto ms-auto rounded bg-white shadow p-3 p-sm-4 mb-5 col-input mt-5 p-sm-5">

        <div class="col-12 col-sm-6">
          <%= f.input :first_name %>
          <br/>
          <%= f.input :last_name %>
          <br/>
          <%= f.input :email %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

        </div>
        <div class="col-12 col-sm-6">

          <%= f.input :password, hint: "#{@minimum_password_length} caractères minimum, laissez vide si vous ne souhaitez pas le changer" %>
          <br/>
          <%= f.input :password_confirmation %>
          <br/>
          <%= f.input :current_password, hint: "votre mot de passe actuel est requis pour confirmer pour confirmer les changements" %>
        </div>

        <div class="col-12 d-flex align-items-center justify-content-center mt-5">
          <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
        </div>
      </div>

  <% end %>
      <div class="col-10 m-auto mt-5 mb-5">

        <h3 class="mb-1">Supprimer mon compte :</h3>
        <br/>

          <%= button_to "Supprimer mon compte", registration_path(resource_name), method: :delete, class: "btn btn-danger", onclick: "return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');" %>

        <%= link_to "Retour", :back, class: "btn btn-secondary mt-5" %>
      </div>

</div>
