<h1>
  <% if @evaluation.status != 'active' %>
    Nouvelle évaluation
  <% else %>
    Édition de l'évaluation de l'année <%= @evaluation.annee %>
  <% end %>
</h1>
<h2>Informations</h2>

<%= simple_form_for @evaluation, url: wizard_path, method: :put, data: {turbo: false} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="col-md-4 mb-4">
      <%= f.input :annee %>
    </div>
    <div class="col-md-4 mb-4">
      <%= f.input :chiffre_affaires %>
    </div>
    <div class="col-md-4 mb-4">
      <%= f.input :resultat_net %>
    </div>
    <div class="col-md-4 mb-4">
      <%= f.input :nombre_salaries %>
    </div>
    <div class="col-md-4 mb-4">
      <%= f.input :nombre_salaries_etp %>
    </div>
  </div>
  <%= f.button :submit, 'Enregistrer et passer à la suite' %>
<% end %>
