<div class="page-orga mx-3 mx-sm-5 mx-bg-5 mt-5 pt-2">

  <header class="mb-5">
    <% if @evaluation.status != 'active' %>
      <h1 class="h2">Nouvelle évaluation</h1>
    <% else %>
      <h1 class="h2">Édition de l'évaluation de l'année <%= @evaluation.annee %></h1>
    <% end %>
    <h2 class="h3"><span class="text-secondary fs-2 me-1 m-0">4.</span>Impact environnemental, social et territorial</h2>
  </header>
  
  <%= simple_form_for @evaluation, url: wizard_path, method: :put, data: {turbo: false} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.association :indicateurs_list do |il| %>

    <div class="container-fluid w-100 d-flex flex-wrap justify-content-center">

      <div class="col-6">

        <h3 class="text-primary">Impact environnemental</h3>

        <fieldset class="mt-2 mb-2 col-sm-10 d-flex flex-column justify-content-between align-items-center rounded bg-white shadow pt-5 pb-4">
          <div class="col-8 col-sm-10">
            <div class="mb-3"><%= il.input :impact_environnement_audit_impact, as: :radio_buttons %></div>
            <div class="mb-3"><%= il.input :impact_environnement_demarche_ecologique, as: :radio_buttons %></div>
            <div class="mb-3"><%= il.input :impact_environnement_discussion_impact, as: :radio_buttons %></div>
          </div>
          <div class="col-8 col-sm-10 col-input">
            <div class="mb-3"><%= il.input :impact_environnement_part_energies_renouvelables %></div>
            <div class="mb-3"><%= il.input :impact_environnement_part_salaries_mobilite %></div>
            <div class="mb-3"><p>Calculez-vous le bilan carbone ?<p></div>
            <div class="m-3">
              <div class="mb-3"><%= il.input :impact_environnement_bilan_carbone_scope_1 %></div>
              <div class="mb-3"><%= il.input :impact_environnement_bilan_carbone_scope_2 %></div>
              <%= il.input :impact_environnement_bilan_carbone_scope_3 %>
            </div>
          </div>
        </fieldset>

      </div>

      <div class="col-6">

        <h3 class="text-primary">Impact social</h3>

        <fieldset class=" pt-5 pb-4 mt-2 mb-2 col-sm-10 d-flex flex-column mb-4 m-0 row-cols-2 justify-content-between align-items-center rounded bg-white shadow">
          <div class="col-8 col-sm-10 col-input">
            <div class="mb-3"><%= il.input :impact_social_part_activite_structures_insertion %></div>
            <div class="mb-3"><%= il.input :impact_social_alternance_apprentissage %></div>
            <div class="mb-3"><%= il.input :impact_social_part_seniors %></div>
            <div class="mb-3"><%= il.input :impact_social_part_handicap %></div>
          </div>
        </fieldset>

      </div>

      <div class="col-6">

        <h3 class="text-primary">Engagement en faveur de l'écosystème et du territoire</h3>

        <fieldset class=" pt-5 pb-4 mt-2 mb-2 col-sm-10 d-flex flex-column mb-4 m-0 row-cols-2 justify-content-between align-items-center rounded bg-white shadow">
          <div class="col-8 col-sm-10 col-input ">
            <div class="mb-3"><%= il.input :impact_engagement_part_resultat_missions_utiles %></div>
            <div class="mb-3"><%= il.input :impact_engagement_part_placements_responsables %></div>
            <div class="mb-3"><%= il.input :impact_engagement_part_impots_france %></div>
            <div class="mb-3"><%= il.input :impact_engagement_demarche_ethique_fournisseurs, as: :radio_buttons %></div>
          </div>
        </fieldset>

        <div class="estim col-8 col-sm-10 text-break rounded bg-white shadow border-start border-secondary pt-3 pb-2 pe-5 ps-5 mt-3 mb-5 col-input">
            <div class="mb-3"><%= il.input :impact_estimation_realite %></div>
        </div>

      </div>
    <% end %>
  
  </div>

    <div class="d-flex">
        <%= link_to 'Précédent', wizard_path(@previous_step), class: 'btn btn-primary me-auto ms-auto d-flex mb-5' %>
        <%= f.button :submit, "Suivant", class: 'btn btn-primary me-auto ms-auto d-flex mb-5' %>
    </div>
  <% end %>

</div>