<%= form_with(model: evaluation) do |form| %>
  <% if evaluation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
        <% evaluation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :annee, style: "display: block" %>
    <%= form.number_field :annee %>
  </div>

  <div>
    <%= form.label :pouvoir_gouvernance_part_salaries_associes, style: "display: block" %>
    <%= form.text_field :pouvoir_gouvernance_part_salaries_associes %>
  </div>

  <div>
    <%= form.label :pouvoir_gouvernance_taux_societariat_femmes, style: "display: block" %>
    <%= form.text_field :pouvoir_gouvernance_taux_societariat_femmes %>
  </div>

  <div>
    <%= form.label :pouvoir_gouvernance_part_salaries_conseil, style: "display: block" %>
    <%= form.text_field :pouvoir_gouvernance_part_salaries_conseil %>
  </div>

  <div>
    <%= form.label :pouvoir_gouvernance_part_femmes_conseil, style: "display: block" %>
    <%= form.text_field :pouvoir_gouvernance_part_femmes_conseil %>
  </div>

  <div>
    <%= form.label :pouvoir_gouvernance_diversite_categories, style: "display: block" %>
    <%= form.text_field :pouvoir_gouvernance_diversite_categories %>
  </div>

  <div>
    <%= form.label :pouvoir_democratie_nombre_reunions, style: "display: block" %>
    <%= form.number_field :pouvoir_democratie_nombre_reunions %>
  </div>

  <div>
    <%= form.label :pouvoir_democratie_taux_participation_formations, style: "display: block" %>
    <%= form.text_field :pouvoir_democratie_taux_participation_formations %>
  </div>

  <div>
    <%= form.label :pouvoir_democratie_nombre_accords_signes, style: "display: block" %>
    <%= form.number_field :pouvoir_democratie_nombre_accords_signes %>
  </div>

  <div>
    <%= form.label :pouvoir_democratie_accords_signes, style: "display: block" %>
    <%= form.text_area :pouvoir_democratie_accords_signes %>
  </div>

  <div>
    <%= form.label :pouvoir_strategique_taux_presence_assemblee, style: "display: block" %>
    <%= form.text_field :pouvoir_strategique_taux_presence_assemblee %>
  </div>

  <div>
    <%= form.label :pouvoir_strategique_actifs_total, style: "display: block" %>
    <%= form.text_field :pouvoir_strategique_actifs_total %>
  </div>

  <div>
    <%= form.label :pouvoir_estimation_realite, style: "display: block" %>
    <%= form.number_field :pouvoir_estimation_realite %>
  </div>

  <div>
    <%= form.label :valeur_perennite_part_capital_salaries, style: "display: block" %>
    <%= form.text_field :valeur_perennite_part_capital_salaries %>
  </div>

  <div>
    <%= form.label :valeur_perennite_existence_reserve, style: "display: block" %>
    <%= form.check_box :valeur_perennite_existence_reserve %>
  </div>

  <div>
    <%= form.label :valeur_perennite_reserve_impartageable, style: "display: block" %>
    <%= form.check_box :valeur_perennite_reserve_impartageable %>
  </div>

  <div>
    <%= form.label :valeur_perennite_part_resultat_reserve, style: "display: block" %>
    <%= form.text_field :valeur_perennite_part_resultat_reserve %>
  </div>

  <div>
    <%= form.label :valeur_perennite_ebe_caht, style: "display: block" %>
    <%= form.text_field :valeur_perennite_ebe_caht %>
  </div>

  <div>
    <%= form.label :valeur_perennite_part_endettement, style: "display: block" %>
    <%= form.text_field :valeur_perennite_part_endettement %>
  </div>

  <div>
    <%= form.label :valeur_perennite_attention_questions_innovation, style: "display: block" %>
    <%= form.check_box :valeur_perennite_attention_questions_innovation %>
  </div>

  <div>
    <%= form.label :valeur_partage_part_resultat_net_actionnaires, style: "display: block" %>
    <%= form.text_field :valeur_partage_part_resultat_net_actionnaires %>
  </div>

  <div>
    <%= form.label :valeur_partage_existence_accord, style: "display: block" %>
    <%= form.check_box :valeur_partage_existence_accord %>
  </div>

  <div>
    <%= form.label :valeur_partage_existence_epargne_salariale, style: "display: block" %>
    <%= form.check_box :valeur_partage_existence_epargne_salariale %>
  </div>

  <div>
    <%= form.label :valeur_partage_part_resultat_salaries, style: "display: block" %>
    <%= form.text_field :valeur_partage_part_resultat_salaries %>
  </div>

  <div>
    <%= form.label :valeur_partage_existence_grille_salariale, style: "display: block" %>
    <%= form.check_box :valeur_partage_existence_grille_salariale %>
  </div>

  <div>
    <%= form.label :valeur_partage_publicite_grille, style: "display: block" %>
    <%= form.check_box :valeur_partage_publicite_grille %>
  </div>

  <div>
    <%= form.label :valeur_partage_ecart_revenus_hauts_bas, style: "display: block" %>
    <%= form.text_field :valeur_partage_ecart_revenus_hauts_bas %>
  </div>

  <div>
    <%= form.label :valeur_partage_index_egalite_homme_femme, style: "display: block" %>
    <%= form.number_field :valeur_partage_index_egalite_homme_femme %>
  </div>

  <div>
    <%= form.label :valeur_estimation_realite, style: "display: block" %>
    <%= form.number_field :valeur_estimation_realite %>
  </div>

  <div>
    <%= form.label :qualite_qvt_enquete_qvt, style: "display: block" %>
    <%= form.check_box :qualite_qvt_enquete_qvt %>
  </div>

  <div>
    <%= form.label :qualite_qvt_taux_qvt, style: "display: block" %>
    <%= form.text_field :qualite_qvt_taux_qvt %>
  </div>

  <div>
    <%= form.label :qualite_qvt_part_cdi, style: "display: block" %>
    <%= form.text_field :qualite_qvt_part_cdi %>
  </div>

  <div>
    <%= form.label :qualite_qvt_moyenne_anciennete, style: "display: block" %>
    <%= form.number_field :qualite_qvt_moyenne_anciennete %>
  </div>

  <div>
    <%= form.label :qualite_qvt_taux_turnover, style: "display: block" %>
    <%= form.text_field :qualite_qvt_taux_turnover %>
  </div>

  <div>
    <%= form.label :qualite_qvt_taux_absenteisme, style: "display: block" %>
    <%= form.text_field :qualite_qvt_taux_absenteisme %>
  </div>

  <div>
    <%= form.label :qualite_emancipation_moyenne_heures_formation, style: "display: block" %>
    <%= form.text_field :qualite_emancipation_moyenne_heures_formation %>
  </div>

  <div>
    <%= form.label :qualite_emancipation_taux_budget_formation_masse_salariale, style: "display: block" %>
    <%= form.text_field :qualite_emancipation_taux_budget_formation_masse_salariale %>
  </div>

  <div>
    <%= form.label :qualite_emancipation_taux_direction_promotion_interne, style: "display: block" %>
    <%= form.text_field :qualite_emancipation_taux_direction_promotion_interne %>
  </div>

  <div>
    <%= form.label :qualite_estimation_realite, style: "display: block" %>
    <%= form.number_field :qualite_estimation_realite %>
  </div>

  <div>
    <%= form.label :impact_environnement_audit_impact, style: "display: block" %>
    <%= form.check_box :impact_environnement_audit_impact %>
  </div>

  <div>
    <%= form.label :impact_environnement_demarche_ecologique, style: "display: block" %>
    <%= form.check_box :impact_environnement_demarche_ecologique %>
  </div>

  <div>
    <%= form.label :impact_environnement_part_energies_renouvelables, style: "display: block" %>
    <%= form.text_field :impact_environnement_part_energies_renouvelables %>
  </div>

  <div>
    <%= form.label :impact_environnement_part_salaries_mobilite, style: "display: block" %>
    <%= form.text_field :impact_environnement_part_salaries_mobilite %>
  </div>

  <div>
    <%= form.label :impact_environnement_discussion_impact, style: "display: block" %>
    <%= form.check_box :impact_environnement_discussion_impact %>
  </div>

  <div>
    <%= form.label :impact_environnement_bilan_carbone_scope_1, style: "display: block" %>
    <%= form.check_box :impact_environnement_bilan_carbone_scope_1 %>
  </div>

  <div>
    <%= form.label :impact_environnement_bilan_carbone_scope_2, style: "display: block" %>
    <%= form.check_box :impact_environnement_bilan_carbone_scope_2 %>
  </div>

  <div>
    <%= form.label :impact_environnement_bilan_carbone_scope_3, style: "display: block" %>
    <%= form.check_box :impact_environnement_bilan_carbone_scope_3 %>
  </div>

  <div>
    <%= form.label :impact_social_part_activite_structures_insertion, style: "display: block" %>
    <%= form.text_field :impact_social_part_activite_structures_insertion %>
  </div>

  <div>
    <%= form.label :impact_social_alternance_apprentissage, style: "display: block" %>
    <%= form.text_field :impact_social_alternance_apprentissage %>
  </div>

  <div>
    <%= form.label :impact_social_part_seniors, style: "display: block" %>
    <%= form.text_field :impact_social_part_seniors %>
  </div>

  <div>
    <%= form.label :impact_social_part_handicap, style: "display: block" %>
    <%= form.text_field :impact_social_part_handicap %>
  </div>

  <div>
    <%= form.label :impact_engagement_part_resultat_missions_utiles, style: "display: block" %>
    <%= form.text_field :impact_engagement_part_resultat_missions_utiles %>
  </div>

  <div>
    <%= form.label :impact_engagement_part_placements_responsables, style: "display: block" %>
    <%= form.text_field :impact_engagement_part_placements_responsables %>
  </div>

  <div>
    <%= form.label :impact_engagement_part_impots_france, style: "display: block" %>
    <%= form.text_field :impact_engagement_part_impots_france %>
  </div>

  <div>
    <%= form.label :impact_engagement_demarche_ethique_fournisseurs, style: "display: block" %>
    <%= form.check_box :impact_engagement_demarche_ethique_fournisseurs %>
  </div>

  <div>
    <%= form.label :impact_estimation_realite, style: "display: block" %>
    <%= form.number_field :impact_estimation_realite %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
