<h1>
  <% if @organisation.present? && @organisation.validation_admin %>
    <%= @organisation %>
  <% else %>
    Tableau de bord
  <% end %>
</h1>

<%= link_to 'Modifier', edit_admin_organisation_path(@organisation), class: 'btn btn-primary mt-3' if @organisation.present? %>

<% if @organisation.nil? %>
    <%= link_to "Inscrire une organisation", new_admin_organisation_path, class: "btn btn-primary" %>
    <div class="col mt-5">
      <div id="code_messages"></div>
      <%= form_with url: admin_code_invitation_path, method: :post do |f| %>
        <div class="form-group">
          <%= f.label :code, "Code d'invitation:" %>
          <%= f.text_field :code, class: "form-control" %>
        </div>
        <%= f.submit "Rejoindre une organisation", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
<% else %>
  <% if @organisation.validation_admin %>
    <h2>Evaluations</h2>

    <ul class="list-group rounded my-5">
      <div class="list-group-item d-flex p-3">
        <div class="col">Année</div>
        <div class="row w-50 text-center">
          <div class="col">Informations</div>
          <div class="col">Pilier 1</div>
          <div class="col">Pilier 2</div>
          <div class="col">Pilier 3</div>
          <div class="col">Pilier 4</div>
        </div>
      </div>
      <% current_user.organisation.evaluations.active.each do |evaluation| %>
        <div class="list-group-item d-flex p-3">
          <div class="col">
            <%= link_to "Evaluation de l'année #{ evaluation.annee }", [:admin, evaluation], class: "text-secondary fw-bold" %> |
            <%= link_to "Voir les résultats", admin_resultats_path(evaluation_id: evaluation.id), class: "text-primary fw-bold" %>
          </div>
          <div class="row w-50 text-center">
            <div class="col"><%= link_to "Éditer", admin_evaluation_builder_path(evaluation.id, 'informations'), class: "text-success fw-bold" %></div>
            <div class="col"><%= link_to "Éditer", admin_evaluation_builder_path(evaluation.id, 'pilier1'), class: "text-success fw-bold" %></div>
            <div class="col"><%= link_to "Éditer", admin_evaluation_builder_path(evaluation.id, 'pilier2'), class: "text-success fw-bold" %></div>
            <div class="col"><%= link_to "Éditer", admin_evaluation_builder_path(evaluation.id, 'pilier3'), class: "text-success fw-bold" %></div>
            <div class="col"><%= link_to "Éditer", admin_evaluation_builder_path(evaluation.id, 'pilier4'), class: "text-success fw-bold" %></div>
          </div>
        </div>
      <% end %>
    </ul>
  <% else %>
    <p class="fst-italic">En attente de vérification par un administrateur.<p>
  <% end %>
  <div class="my-5">
    <%= link_to "Ajouter une évaluation", admin_evaluations_builder_new_path, class: "btn btn-primary text-white" %>
    <%# if @organisation.objectifs_list.present? %>
      <%# link_to "Éditer les objectifs", edit_objectifs_list_path(id: organisation.objectifs_list.id), class: "btn btn-primary" %>
    <%# else %>
      <%# link_to "Définir des objectifs", new_objectifs_list_path, class: "btn btn-secondary mx-3" %>
    <%# end %>
    <%= link_to "Générer un code d'invitation", admin_code_invitation_path, method: :post, class: "btn btn-success" %>
  </div>

<% end %>
