<% state = evaluation.state %>
<div id="<%= dom_id evaluation %>" class="view">

  <h2>Informations</h2>
  <%= link_to "Modifier", admin_evaluation_builder_path(evaluation_id: evaluation.id, step: 'informations'),class: 'btn btn-secondary mt-2' %>

  <div class="row my-5">
    <%= render  'indicator',
                name: 'Année',
                value: "#{evaluation.annee}",
                unavailable: false %>
    <%= render  'indicator',
                name: 'Chiffre d\'affaires',
                value: "#{number_to_currency evaluation.chiffre_affaires, precision: 0}",
                unavailable: evaluation.chiffre_affaires.blank? %>
    <%= render  'indicator',
                name: 'Résultat net',
                value: "#{number_to_currency evaluation.resultat_net, precision: 0}",
                unavailable: evaluation.resultat_net.blank? %>
    <%= render  'indicator',
                name: 'Nombre total de salariés',
                value: "#{evaluation.nombre_salaries}",
                unavailable: evaluation.nombre_salaries.blank? %>
    <%= render  'indicator',
                name: 'Nombre de salariés ETP',
                value: "#{evaluation.nombre_salaries_etp}",
                unavailable: evaluation.nombre_salaries_etp.blank? %>
  </div>


  <h2>1. <%= t 'pillars.1' %></h2>
  <%= link_to "Modifier", admin_evaluation_builder_path(evaluation_id: evaluation.id, step: 'pilier1'),class: 'btn btn-secondary mt-2' %>

  <h3>Composition de la gouvernance</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_gouvernance_part_salaries_associes ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_gouvernance_part_salaries_associes %> :
        <b class="text-primary"><%= state.pouvoir_gouvernance_part_salaries_associes %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_gouvernance_taux_societariat_femmes ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_gouvernance_taux_societariat_femmes %> :
        <b class="text-primary"><%= state.pouvoir_gouvernance_taux_societariat_femmes %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_gouvernance_taux_droits_vote_salaries ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_gouvernance_taux_droits_vote_salaries %> :
        <b class="text-primary"><%= state.pouvoir_gouvernance_taux_droits_vote_salaries %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_gouvernance_part_salaries_conseil ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_gouvernance_part_salaries_conseil %> :
        <b class="text-primary"><%= state.pouvoir_gouvernance_part_salaries_conseil %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_gouvernance_part_femmes_conseil ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_gouvernance_part_femmes_conseil %> :
        <b class="text-primary"><%= state.pouvoir_gouvernance_part_femmes_conseil %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_gouvernance_diversite_categories ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_gouvernance_diversite_categories %> :
        <b class="text-primary"><%= state.pouvoir_gouvernance_diversite_categories %></b>
      </div>
    </div>
  </div>

  <h3>Conditions du bon exercice de la démocratie</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_democratie_nombre_reunions ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_democratie_nombre_reunions %> :
        <b class="text-primary"><%= state.pouvoir_democratie_nombre_reunions %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_democratie_taux_participation_formations ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_democratie_taux_participation_formations %> :
        <b class="text-primary"><%= state.pouvoir_democratie_taux_participation_formations %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_democratie_nombre_accords_signes ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_democratie_nombre_accords_signes %> :
        <b class="text-primary"><%= state.pouvoir_democratie_nombre_accords_signes %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_democratie_accords_signes ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_democratie_accords_signes %> :
        <b class="text-primary"><%= state.pouvoir_democratie_accords_signes %></b>
      </div>
    </div>
  </div>

  <h3>Participation à la prise de décision stratégique</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_strategique_taux_presence_assemblee ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_strategique_taux_presence_assemblee %> :
    <b class="text-primary"><%= state.pouvoir_strategique_taux_presence_assemblee %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_strategique_implication_partage ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_strategique_implication_partage %> :
        <b class="text-primary"><%= state.pouvoir_strategique_implication_partage %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_strategique_actifs_total ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_strategique_actifs_total %> :
        <b class="text-primary"><%= state.pouvoir_strategique_actifs_total %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.pouvoir_estimation_realite ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :pouvoir_estimation_realite %> :
        <b class="text-primary"><%= state.pouvoir_estimation_realite %></b>
      </div>
    </div>
  </div>

  <h2>2. <%= t 'pillars.2' %></h2>
  <%= link_to "Modifier", admin_evaluation_builder_path(evaluation_id: evaluation.id, step: 'pilier2'),class: 'btn btn-secondary mt-2' %>

  <h3>Pérennité : création de valeur, inaliénabilité et robustesse de l'entreprise</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_perennite_part_capital_salaries ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_perennite_part_capital_salaries %> :
        <b class="text-primary"><%= state.valeur_perennite_part_capital_salaries %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_perennite_part_resultat_reserve ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_perennite_part_resultat_reserve %> :
        <b class="text-primary"><%= state.valeur_perennite_part_resultat_reserve %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_perennite_ebe_caht ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_perennite_ebe_caht %> :
        <b class="text-primary"><%= state.valeur_perennite_ebe_caht %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_perennite_part_endettement ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_perennite_part_endettement %> :
        <b class="text-primary"><%= state.valeur_perennite_part_endettement %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2">
        <%= indicateur_clean :valeur_perennite_existence_reserve %> :
        <b class="text-primary"><%= state.valeur_perennite_existence_reserve %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2">
        <%= indicateur_clean :valeur_perennite_reserve_impartageable %> :
        <b class="text-primary"><%= state.valeur_perennite_reserve_impartageable %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2">
        <%= indicateur_clean :valeur_perennite_attention_questions_innovation %> :
        <b class="text-primary"><%= state.valeur_perennite_attention_questions_innovation %></b>
      </div>
    </div>
  </div>

  <h3>Partage des richesses</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_partage_part_resultat_net_actionnaires ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_partage_part_resultat_net_actionnaires %> :
        <b class="text-primary"><%= state.valeur_partage_part_resultat_net_actionnaires %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_partage_part_resultat_salaries ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_partage_part_resultat_salaries %> :
        <b class="text-primary"><%= state.valeur_partage_part_resultat_salaries %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_partage_ecart_revenus_hauts_bas ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_partage_ecart_revenus_hauts_bas %> :
        <b class="text-primary"><%= state.valeur_partage_ecart_revenus_hauts_bas %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_partage_index_egalite_homme_femme ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_partage_index_egalite_homme_femme %> :
        <b class="text-primary"><%= state.valeur_partage_index_egalite_homme_femme %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.valeur_partage_existence_accord ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :valeur_partage_existence_accord %> :
        <b class="text-primary"><%= state.valeur_partage_existence_accord %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2">
        <%= indicateur_clean :valeur_partage_existence_epargne_salariale %> :
        <b class="text-primary"><%= state.valeur_partage_existence_epargne_salariale %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2">
        <%= indicateur_clean :valeur_partage_existence_grille_salariale %> :
        <b class="text-primary"><%= state.valeur_partage_existence_grille_salariale %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2">
        <%= indicateur_clean :valeur_partage_publicite_grille %> :
        <b class="text-primary"><%= state.valeur_partage_publicite_grille %></b>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-8">
      <div class="card p-2">
        <%= indicateur_clean :valeur_estimation_realite %> :
        <b class="text-primary"><%= state.valeur_estimation_realite %></b>
      </div>
    </div>
  </div>

<h2>3. <%= t 'pillars.3' %></h2>
<%= link_to "Modifier", admin_evaluation_builder_path(evaluation_id: evaluation.id, step: 'pilier3'),class: 'btn btn-secondary mt-2' %>

<h3>Mise en place des conditions du bon exercice de la démocratie</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_qvt_enquete_qvt ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_qvt_enquete_qvt %> :
        <b class="text-primary"><%= state.qualite_qvt_enquete_qvt %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_qvt_taux_qvt ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_qvt_taux_qvt %> :
        <b class="text-primary"><%= state.qualite_qvt_taux_qvt %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_qvt_part_cdi ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_qvt_part_cdi %> :
        <b class="text-primary"><%= state.qualite_qvt_part_cdi %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_qvt_moyenne_anciennete ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_qvt_moyenne_anciennete %> :
        <b class="text-primary"><%= state.qualite_qvt_moyenne_anciennete %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_qvt_taux_turnover ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_qvt_taux_turnover %> :
        <b class="text-primary"><%= state.qualite_qvt_taux_turnover %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_qvt_taux_absenteisme ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_qvt_taux_absenteisme %> :
        <b class="text-primary"><%= state.qualite_qvt_taux_absenteisme %></b>
      </div>
    </div>
  </div>

  <h3>Développement des compétences individuelles et collectives, émancipation des salariés</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_emancipation_moyenne_heures_formation ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_emancipation_moyenne_heures_formation %> :
        <b class="text-primary"><%= state.qualite_emancipation_moyenne_heures_formation %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_emancipation_taux_budget_formation_masse_salariale ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_emancipation_taux_budget_formation_masse_salariale %> :
        <b class="text-primary"><%= state.qualite_emancipation_taux_budget_formation_masse_salariale %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.qualite_emancipation_taux_direction_promotion_interne ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_emancipation_taux_direction_promotion_interne %> :
        <b class="text-primary"><%= state.qualite_emancipation_taux_direction_promotion_interne %></b>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-sm-8">
      <div class="card p-2 <%= state.qualite_estimation_realite ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :qualite_estimation_realite %> :
        <b class="text-primary"><%= state.qualite_estimation_realite %></b>
      </div>
    </div>
  </div>

<h2>4. <%= t 'pillars.4' %></h2>
<%= link_to "Modifier", admin_evaluation_builder_path(evaluation_id: evaluation.id, step: 'pilier4'),class: 'btn btn-secondary mt-2' %>

<h3>Impact environnemental</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_environnement_audit_impact ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_environnement_audit_impact %> :
        <b class="text-primary"><%= state.impact_environnement_audit_impact %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_environnement_demarche_ecologique ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_environnement_demarche_ecologique %> :
        <b class="text-primary"><%= state.impact_environnement_demarche_ecologique %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_environnement_discussion_impact ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_environnement_discussion_impact %> :
        <b class="text-primary"><%= state.impact_environnement_discussion_impact %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_environnement_part_energies_renouvelables ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_environnement_part_energies_renouvelables %> :
        <b class="text-primary"><%= state.impact_environnement_part_energies_renouvelables %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_environnement_part_salaries_mobilite ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_environnement_part_salaries_mobilite %> :
        <b class="text-primary"><%= state.impact_environnement_part_salaries_mobilite %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_environnement_bilan_carbone_scope_1 ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_environnement_bilan_carbone_scope_1 %> :
        <b class="text-primary"><%= state.impact_environnement_bilan_carbone_scope_1 %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_environnement_bilan_carbone_scope_2 ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_environnement_bilan_carbone_scope_2 %> :
        <b class="text-primary"><%= state.impact_environnement_bilan_carbone_scope_2 %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_environnement_bilan_carbone_scope_3 ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_environnement_bilan_carbone_scope_3 %> :
        <b class="text-primary"><%= state.impact_environnement_bilan_carbone_scope_3 %></b>
      </div>
    </div>
  </div>

<h3>Impact social</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_social_part_activite_structures_insertion ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_social_part_activite_structures_insertion %> :
        <b class="text-primary"><%= state.impact_social_part_activite_structures_insertion %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_social_alternance_apprentissage ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_social_alternance_apprentissage %> :
        <b class="text-primary"><%= state.impact_social_alternance_apprentissage %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_social_part_seniors ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_social_part_seniors %> :
        <b class="text-primary"><%= state.impact_social_part_seniors %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_social_part_handicap ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_social_part_handicap %> :
        <b class="text-primary"><%= state.impact_social_part_handicap %></b>
      </div>
    </div>
  </div>

  <h3>Engagement en faveur de l'écosystème et du territoire</h3>

  <div class="row my-5">
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_engagement_part_resultat_missions_utiles ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_engagement_part_resultat_missions_utiles %> :
        <b class="text-primary"><%= state.impact_engagement_part_resultat_missions_utiles %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_engagement_part_placements_responsables ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_engagement_part_placements_responsables %> :
        <b class="text-primary"><%= state.impact_engagement_part_placements_responsables %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_engagement_part_impots_france ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_engagement_part_impots_france %> :
        <b class="text-primary"><%= state.impact_engagement_part_impots_france %></b>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card p-2 <%= state.impact_engagement_demarche_ethique_fournisseurs ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_engagement_demarche_ethique_fournisseurs %> :
        <b class="text-primary"><%= state.impact_engagement_demarche_ethique_fournisseurs %></b>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-sm-8">
      <div class="card p-2 <%= state.impact_estimation_realite ? 'opacity-100' : 'opacity-50' %>">
        <%= indicateur_clean :impact_estimation_realite %> :
        <b class="text-primary"><%= state.impact_estimation_realite %></b>
      </div>
    </div>
  </div>
