<div class="row">
  <div class="col-lg-8">
    <h1>Vers la citoyenneté économique</h1>
    <p class="lead">Issue du mouvement coopératif, la citoyenneté économique est née de la conviction que les entreprises doivent jouer un rôle majeur face aux défis sociétaux et environnementaux. Partage de l’information, transparence des décisions, délibération collective… autant de paramètres appliqués aux choix stratégiques de l’entreprise, à son bien-être et à celui de ses salariés, en accord avec l’intérêt général.</p>
  </div>
</div>

<h2>4 catégories pour une cinquantaine d’indicateurs</h2>

<div class="row row-cols-md-4">
  <div>
    <div class="card border-0">
      <div class="card-body">
        <span class="text-secondary">1.</span>
        <h4 class="card-title">
          <%= link_to pilier_1_path, class: 'stretched-link text-black' do %>
            Partage du <b class="text-secondary">pouvoir</b> et des <b class="text-secondary">décisions</b>
          <% end %>
        </h4>
      </div>
    </div>
  </div>
  <div>
    <div class="card border-0">
      <div class="card-body">
        <span class="text-primary e d-flex">2.</span>
        <h4 class="card-title">
          <%= link_to pilier_2_path, class: 'stretched-link text-black' do %>
            <b class="text-primary">Pérennité</b> économique et <b class="text-primary">partage</b> de la valeur créée
          <% end %>
        </h4>
      </div>
    </div>
  </div>
  <div>
    <div class="card border-0">
      <div class="card-body">
        <span class="text-secondary d-flex">3.</span>
        <h4 class="card-title">
          <%= link_to pilier_3_path, class: 'stretched-link text-black' do %>
            Capital <b class="text-secondary">humain</b> et Qualité de <b class="text-secondary">vie</b> au travail
          <% end %>
        </h4>
      </div>
    </div>
  </div>
  <div>
    <div class="card border-0">
      <div class="card-body">
        <span class="text-primary d-flex">4.</span>
        <h4 class="card-title">
          <%= link_to pilier_4_path, class: 'stretched-link text-black' do %>
            Impact <b class="text-primary">environnemental</b>, <b class="text-primary">social</b> et <b class="text-primary">territorial</b>
          <% end %>
        </h4>
      </div>
    </div>
  </div>
</div>

<h2>Notre objectif : démocratiser l’entreprise démocratique.</h2>

<div class="row">
  <div class="col-lg-8">
    <p>Outils de progression, de suivi coopératif, mais aussi de communication, dans une démarche à la fois sociale et environnementale, ces indicateurs assurent une réflexion politique et pragmatique sur la citoyenneté dans et de l’entreprise. Notre plateforme démontre que ces enjeux sont aujourd’hui une réalité  et vise à influencer la réflexion au sein des entreprises et se pose en référentiel pour ces dernières.</p>
  </div>
  <div class="col-lg-4">
    <blockquote class="blockquote">
      « Pourquoi le salarié abandonnerait-il sa <b class="text-secondary">liberté</b> et sa <b class="text-secondary">citoyenneté</b> une fois franchi le seuil de l’entreprise ? »
    </blockquote>
  </div>
</div>

<h2>Une visualisation simplifiée de vos ambitions</h2>

<div class="row">
  <div class="col-lg-4">
    <%= image_tag 'illustration_home.svg', alt: 'logo de la citoyenneté économique', class: 'img-fluid' %>
  </div>
  <div class="offset-lg-1 col-lg-7 d-flex align-items-center">
    <ul>
      <li class="my-4">Un formulaire détaillé à destination des <b class="text-secondary">entreprises</b>.</li>
      <li class="my-4">Une matérialisation <b class="text-secondary">claire</b> et <b class="text-secondary">schématisée</b> de vos données.</li>
      <li class="my-4">Une possibilité de <b class="text-secondary">suivre</b> vos progrès en les comparant à ceux des années précédentes.</li>
    </ul>
  </div>
</div>

<h2>Les sociétés coopératives : l’entreprise autrement</h2>

<div class="row">
  <div class="col-lg-8">
    <%= image_tag 'startup.jpg', alt: 'image illustrative entreprise', class: 'img-fluid' %>
  </div>
  <div class="col-lg-4">
    <div class="card border-0 bg-transparent">
      <h3 class="text-primary">Les SCOP</h3>
      <p>
        <b>
          <a class="stretched-link" href="https://www.les-scop.coop/les-scop" target="_blank">
            Sociétés coopératives et participatives
          </a>
        </b>
      </p>
      <p>Les sociétés coopératives correspondent à un modèle de gouvernance fondé sur la transparence, le partage des informations sur la stratégie et les résultats. Les objectifs sont clairement définis et s’inscrivent dans les enjeux actuels : on ne peut pas faire une transition écologique, économique et sociale, sans une implication plus forte des salariés et les entreprises.</p>
    </div>

      <blockquote class="blockquote">
        « L’entreprise n’a-t-elle pas un <b class="text-secondary">rôle</b> à jouer pour le <b class="text-secondary">bien de la cité</b> ? »
      </blockquote>
  </div>
</div>
