<div class="row">
  <div class="col-lg-8">
    <h1>La citoyenneté économique</h1>
    <p class="lead">Issue du mouvement coopératif, la citoyenneté économique est née de notre conviction d’avoir un rôle majeur à jouer face aux défis économiques, sociétaux et environnementaux.
Partage de l’information et des décisions, partage des richesses, bien commun et intérêt général autant d’indicateurs appliqués aux choix stratégiques et issues des valeurs des entreprises coopératives.</p>
  </div>
  <div class="col-lg-8">
    <p class="lead">Parce que nous pensons que les indicateurs économiques et financiers ne résument pas à eux seuls la performance d’une entreprise, nous avons engagé une démarche volontariste pour mesurer et suivre d’autres indicateurs en cohérence avec nos valeurs et nos principes. Il s’agit de rendre visible (en interne comme en externe) et compréhensible une « performance » multi-dimensionnelle, en s’inscrivant dans une vision plus large des missions de l’entreprise.</p>
  </div>
</div>

<h2>4 catégories pour une cinquantaine d’indicateurs</h2>

<div class="row row-cols-md-4 my-5">
  <div class="card-cont">
    <div class="card border-0">
      <div class="card-body d-flex align-items-end">
        <span class="text-secondary fw-bold">1.</span>
        <h4 class="card-title fs-5">
          <%= link_to pilier_1_path, class: 'stretched-link text-black' do %>
            Partage du <b class="text-secondary">pouvoir</b> et des <b class="text-secondary">décisions</b>
          <% end %>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-cont">
    <div class="card border-0">
      <div class="card-body d-flex align-items-end">
        <span class="text-primary">2.</span>
        <h4 class="card-title fs-5">
          <%= link_to pilier_2_path, class: 'stretched-link text-black' do %>
            <b class="text-primary">Pérennité</b> économique et <b class="text-primary">partage</b> de la valeur créée
          <% end %>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-cont">
    <div class="card border-0">
      <div class="card-body d-flex align-items-end">
        <span class="text-secondary">3.</span>
        <h4 class="card-title fs-5">
          <%= link_to pilier_3_path, class: 'stretched-link text-black' do %>
            Capital <b class="text-secondary">humain</b> et Qualité de <b class="text-secondary">vie</b> au travail
          <% end %>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-cont">
    <div class="card border-0">
      <div class="card-body d-flex align-items-end">
        <span class="text-primary">4.</span>
        <h4 class="card-title fs-5">
          <%= link_to pilier_4_path, class: 'stretched-link text-black' do %>
            Impact <b class="text-primary">environnemental</b>, <b class="text-primary">social</b> et <b class="text-primary">territorial</b>
          <% end %>
        </h4>
      </div>
    </div>
  </div>
</div>



<div class="row align-items-start">
<div class="col-lg-2 d-flex align-items-center .bg-secondary.bg-gradient">
    <ul>
      <li class="my-4">Composition de la gouvernance</li>
      <li class="my-4">Mise en place des conditions du bon exercice de la démocratie</li>
      <li class="my-4">Participation à la prise de décision stratégique</li>
    </ul>
  </div>

  <div class="offset-lg-1 col-lg-2 d-flex align-items-center">
    <ul>
      <li class="my-4">Pérénnité : création de la valeur, efficacité et robustesse de l’entreprise</li>
      <li class="my-4">Partage des richesses avec les actionnaires / sociétaires</li>
      <li class="my-4">Partage des richesses avec/ entre les salariés</li>
    </ul>
  </div>

  <div class="offset-lg-1 col-lg-2 d-flex align-items-center">
    <ul>
      <li class="my-4">Qualité de vie au travail/épanouissement des salariés</li>
      <li class="my-4">Développement des compétences individuelles et collectives/émanciation des salariés</li>
    </ul>
  </div>

  <div class="offset-lg-1 col-lg-2 d-flex align-items-center">
    <ul>
      <li class="my-4">Impact environnemental</li>
      <li class="my-4">Impact social</li>
      <li class="my-4">Engagement en faveur de l’écosystème et du térritoire</li>
    </ul>
  </div>
</div>

<h2>Notre objectif : <br>
Vous permettre de mesurer l’impact de votre entreprise en rendant accessible, dynamique et lisible l’évaluation des différents indicateurs</h2>

<div class="row mb-5">
  <div class="col-lg-4 d-none d-md-flex">
    <%= image_tag 'illustration_stats.svg', alt: 'logo de la citoyenneté économique', class: 'img-fluid' %>
  </div>
  <div class="offset-lg-1 col-lg-7 d-flex align-items-center">
    <p>Outil d’évaluation, de communication, de suivi et d’amélioration continue, cette plateforme web a l’ambition de vous permettre de mesurer votre impact économique, sociétal, environnement et territorial.</p>
  </div>
</div>

<h2>Une visualisation simplifiée de vos ambitions</h2>

<div class="row mb-5">
  <div class="col-lg-4">
    <%= image_tag 'illustration_home.svg', alt: 'logo de la citoyenneté économique', class: 'img-fluid' %>
  </div>
  <div class="offset-lg-1 col-lg-7 d-flex align-items-center">
    <ul class="list-home">
      <li class="my-4 d-flex align-items-center"><%= image_tag 'list_marker.svg', alt: '', class: 'me-2', height: '30' %>Un formulaire en ligne dédié à renseigner par votre entreprise*.</li>
      <li class="my-4 d-flex align-items-center"><%= image_tag 'list_marker.svg', alt: '', class: 'me-2', height: '30' %>Une matérialisation schématisée de votre données* avec lesquelles vous pouvez choisir de communiquer (vos partenaires, vos équipes)…</li>
      <li class="my-4 d-flex align-items-center"><%= image_tag 'list_marker.svg', alt: '', class: 'me-2', height: '30' %>Un suivi en temps réel de vos objectifs et de votre impact en adéquation avec votre choix de planification.</li>
      <p class="my-4">*vos données sont strictement réservées à votre entreprise </p>
    </ul>
  </div>
</div>

<h2>Les sociétés coopératives : l’entreprise autrement.</h2>

<div class="row align-items-center">
  <div class="col-lg-6">
    <div class="card border-0 bg-transparent">
      <p>
        <b class="text-secondary">Outils de progression</b>, de suivi coopératif, mais aussi de communication, dans une démarche à la fois <b class="text-secondary">sociale</b> et <b class="text-secondary">environnementale</b>, ces indicateurs assurent une réflexion politique et pragmatique sur la citoyenneté dans et de l’entreprise.
        <br><br>
        Notre plateforme démontre que ces enjeux sont aujourd’hui une réalité et vise à influencer la réflexion au sein des entreprises et se pose en référentiel pour ces dernières.
      </p>
    </div>
  </div>
  <div class="col-lg-6">
    <%= image_tag 'startup.jpg', alt: 'image illustrative entreprise', class: 'img-fluid rounded' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 py-5 mt-5 mx-auto">
    <p>Les entreprises coopératives ont un rôle indéniable à jouer dans le monde d’après pour faire face aux nombreux défis humains et sociaux qui nous attendent !  L’entreprise coopérative : une autre façon d’entreprendre !</p>
  </div>
</div>
