<div class="row">
  <div class="col-lg-8">
    <h1><b class="text-secondary">1.</b> Partage du pouvoir et des décisions</h1>
    <p class="lead">
      Le premier pilier, à partir duquel les trois autres découlent, la <b class="text-secondary">gouvernance démocratique</b> s’exprime par le <b class="text-secondary">partage du pouvoir et des décisions</b>.
      <br/><br/>
      La robustesse de ce pilier dédié à la gouvernance démocratique est un indicateur à part entière de la capacité de l’entreprise à déployer les actions quant à sa pérennité économique et le partage de la valeur créée, la qualité de vie au travail et le bien-être des salariés, mais également les actions à impact social, environnemental et territorial. La composition de la gouvernance est l’élément le plus visible, nécessaire à interroger s’agissant de l’expression d’un pouvoir partagé. Il convient cependant d’apprécier les conditions de mise en œuvre par la mise à disposition des connaissances ainsi que les expressions de participation des parties prenantes internes.
    </p>
  </div>
</div>

<h2><b class="text-primary">I.</b>Composition de la gouvernance</h2>

<div class="public-stats mx-3 mx-sm-5 mx-bg-5 mt-5 pt-2 px-0 px-md-5">

  <div class="public-stats-body">

      <!-- IMPACT 1 -->

      <h4 class="my-3 pt-3 pb-4 pt-sm-5 pb-sm-5 my-sm-5"><b class="text-primary">I.</b> <u class="text-secondary text-decoration-none">Composition de la gouvernance</u></h4>

      <div class="d-flex flex-sm-row flex-column">
        <div class="data-container rounded shadow col-7 p-0 overflow-hidden mb-5 w-100"">
            <div class="data-intit bg-light text-center p-3">Taux médians</div>
            <div class="data-cont bg-white m-0 p-2">
                <div class="d-flex">
                    <%= bar_chart @pouvoir_gouvernance_taux, suffix: "%" %>
                </div>
            </div>
        </div>

        <div class="data-container rounded shadow p-0 col-4 flex-fill overflow-hidden mb-5 w-100">
            <div class="data-intit bg-light text-center p-3">Catégories d'associés</div>
            <div class="data-cont bg-white m-0 p-2">
                <div class="d-flex">
                    <%= pie_chart @pouvoir_gouvernance_diversite_categories  %>
                </div>
            </div>
        </div>
      </div>

      <% unless @pouvoir_gouvernance_part_salaries_conseil[:pouvoir_gouvernance_part_salaries_conseil].nil? %>
          <div class="data-container rounded shadow col-12 col-mb-5 p-0 overflow-hidden mb-5">
              <div class="data-intit bg-light text-center p-3"><%= indicateur_clean :pouvoir_gouvernance_part_salaries_conseil %></div>
              <div class="data-cont bg-white m-0 p-2">
                  <div class="d-flex">
                      <%= single_value_pie_chart(@pouvoir_gouvernance_part_salaries_conseil[:pouvoir_gouvernance_part_salaries_conseil]) %>
                  </div>
              </div>
          </div>
      <% end %>

      <h4 class="my-3 pt-3 pb-4 pt-sm-5 pb-sm-5 my-sm-5"><b class="text-primary">II.</b> Mise en place des <u class="text-secondary text-decoration-none">conditions du bon exercice de la démocratie</u></h4>

      <div class="row">
          <div class="col">
              <div class="data-container rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
                  <div class="data-intit bg-light text-center p-3"><%= indicateur_clean :pouvoir_democratie_nombre_reunions %> (médiane)</div>
                  <div class="data-cont bg-white m-0 p-2">
                      <div class="d-flex justify-content-center">
                          <p class="h1"><%= @pouvoir_democratie_nombres[:pouvoir_democratie_nombre_reunions] %></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="data-container rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
                  <div class="data-intit bg-light text-center p-3"><%= indicateur_clean :pouvoir_democratie_nombre_accords_signes %> (médiane)</div>
                  <div class="data-cont bg-white m-0 p-2">
                      <div class="d-flex justify-content-center">
                          <p class="h1"><%= @pouvoir_democratie_nombres[:pouvoir_democratie_nombre_accords_signes] %></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <h4 class="my-3 pt-3 pb-4 pt-sm-5 pb-sm-5 my-sm-5"><b class="text-primary">III.</b> Participation à la <u class="text-secondary text-decoration-none">prise de décision stratégique</u></h4>

      <div class="row indic-row pb-5">
          <% unless @pouvoir_strategique_taux[:pouvoir_strategique_taux_presence_assemblee].nil? %>
              <div class="col col-data mb-5">
                  <div class="data-container rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
                      <div class="data-intit bg-light text-center p-3"><%= indicateur_clean :pouvoir_strategique_taux_presence_assemblee %></div>
                      <div class="data-cont bg-white m-0 p-2">
                          <div class="d-flex">
                              <%= single_value_pie_chart(@pouvoir_strategique_taux[:pouvoir_strategique_taux_presence_assemblee]) %>
                          </div>
                      </div>
                  </div>
              </div>
          <% end %>
          <% unless @pouvoir_strategique_taux[:pouvoir_strategique_implication_partage].nil? %>
              <div class="col col-data mb-5">
                  <div class="data-container rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
                      <div class="data-intit bg-light text-center p-3"><%= indicateur_clean :pouvoir_strategique_implication_partage %></div>
                      <div class="data-cont bg-white m-0 p-2">
                          <div class="d-flex">
                              <%= single_value_pie_chart(@pouvoir_strategique_taux[:pouvoir_strategique_implication_partage]) %>
                          </div>
                      </div>
                  </div>
              </div>
          <% end %>
          <% unless @pouvoir_strategique_taux[:pouvoir_strategique_actifs_total].nil? %>
              <div class="col col-data mb-5">
                  <div class="data-container rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
                      <div class="data-intit bg-light text-center p-3"><%= indicateur_clean :pouvoir_strategique_actifs_total %></div>
                      <div class="data-cont bg-white m-0 p-2">
                          <div class="d-flex">
                              <%= single_value_pie_chart(@pouvoir_strategique_taux[:pouvoir_strategique_actifs_total]) %>
                          </div>
                      </div>
                  </div>
              </div>
          <% end %>
      </div>
  </div>
</div>
