<div class="public-stats mx-3 mx-sm-5 mx-bg-5 mt-5 pt-2 px-5">

  <header class="container-fluid">
    <h1 class="mb-5"><b class="text-secondary">4.</b> Impact environnemental, social et territorial</h1>
  </header>

  <p class="w-75">
    « Une <b class="text-secondary">entreprise citoyenne</b>, c’est une entreprise soucieuse du long terme », pour elle-même et pour le monde dans lequel elle vit.
    <br/><br/>
    Vigueur dans les engagements <b class="text-secondary">environnementaux</b>, attention de la qualité de son <b class="text-secondary">impact social</b>, « <b class="text-secondary">intégration hamonieuse de l’entreprise à ses écosystèmes</b> » sont autant d’indicateurs d’une citoyenneté économique.
    <br/><br/>
    Certains indicateurs font directement référence aux 17 objectifs de développement durable adoptés par l’ONU dans le cadre de l’<b class="text-secondary">Agenda 2030</b>.
  </p>

  <div class="puclic-stats-body public">

    <!-- IMPACT 4 -->

    <h4 class="my-3 py-3 py-sm-5 my-sm-5"><b class="text-primary">I.</b> Impact <u class="text-secondary text-decoration-none">environnemental</u></h4>

    <div class="row">
        <% unless @impact_environnement_booleens[:impact_environnement_audit_impact].nil?  %>
            <div class="col">
                <div class="rounded shadow col-12 col-mb-5 p-0 overflow-hidden mb-5">
                    <div class="bg-white m-0 p-2">
                        <div class="d-flex">
                            <%= pie_chart @impact_environnement_booleens[:impact_environnement_audit_impact], suffix: '%' %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% unless @impact_environnement_booleens[:impact_environnement_demarche_ecologique].nil?  %>
            <div class="col">
                <div class="rounded shadow col-12 col-mb-5 p-0 overflow-hidden mb-5">
                    <div class="bg-white m-0 p-2">
                        <div class="d-flex">
                            <%= pie_chart @impact_environnement_booleens[:impact_environnement_discussion_impact], suffix: '%' %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <% unless @impact_environnement_booleens[:impact_environnement_discussion_impact].nil?  %>
        <div class="rounded shadow col-12 col-mb-5 p-0 overflow-hidden mb-5">
            <div class="bg-white m-0 p-2">
                <div class="d-flex">
                    <%= pie_chart @impact_environnement_booleens[:impact_environnement_demarche_ecologique], suffix: '%' %>
                </div>
            </div>
        </div>
    <% end %>
    <div class="row indic-row mb-5">
      <% unless @impact_environnement_part_energies_renouvelables.nil? %>
          <div class="col">
            <div class="rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
              <div class="bg-light text-center p-3"><%= indicateur_clean :impact_environnement_part_energies_renouvelables %></div>
              <div class="bg-white m-0 p-2">
                <div class="d-flex">
                  <%= single_value_pie_chart(@impact_environnement_part_energies_renouvelables) %>
                </div>
              </div>
            </div>
          </div>
      <% end%>
      <% unless @impact_environnement_part_salaries_mobilite.nil? %>
          <div class="col">
            <div class="rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
              <div class="bg-light text-center p-3"><%= indicateur_clean :impact_environnement_part_salaries_mobilite %></div>
              <div class="bg-white m-0 p-2">
                <div class="d-flex">
                  <%= single_value_pie_chart(@impact_environnement_part_salaries_mobilite) %>
                </div>
              </div>
            </div>
          </div>
      <% end%>
    </div>
    <% unless @impact_environnement_scope_booleens.nil?  %>
        <div class="rounded shadow col-12 col-mb-5 p-0 overflow-hidden mb-5">
            <div class="bg-white m-0 p-2">
                <div class="d-flex">
                    <%= bar_chart @impact_environnement_scope_booleens, suffix: '%' %>
                </div>
            </div>
        </div>
    <% end %>

    <h4 class="my-3 py-3 py-sm-5 my-sm-5"><b class="text-primary">II.</b> Impact <u class="text-secondary text-decoration-none">social</u></h4>

    <div class="row indic-row">
        <% unless @impact_social_part_activite_structures_insertion.nil? %>
            <div class="col">
                <div class="rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1 mb-5">
                    <div class="bg-light text-center p-3"><%= indicateur_clean :impact_social_part_activite_structures_insertion %></div>
                    <div class="bg-white m-0 p-2">
                        <div class="d-flex">
                        <%= single_value_pie_chart(@impact_social_part_activite_structures_insertion) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end%>
        <% unless @impact_social_alternance_apprentissage.nil? %>
            <div class="col">
                <div class="rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1 mb-5">
                    <div class="bg-light text-center p-3"><%= indicateur_clean :impact_social_alternance_apprentissage %></div>
                    <div class="bg-white m-0 p-2">
                        <div class="d-flex">
                        <%= single_value_pie_chart(@impact_social_alternance_apprentissage) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end%>
    </div>
    <div class="row indic-row mt-5">
        <% unless @impact_social_part_seniors.nil? %>
        <div class="col">
                <div class="rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1 mb-5">
                    <div class="bg-light text-center p-3"><%= indicateur_clean :impact_social_part_seniors %></div>
                    <div class="bg-white m-0 p-2">
                        <div class="d-flex">
                        <%= single_value_pie_chart(@impact_social_part_seniors) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end%>
        <% unless @impact_social_part_handicap.nil? %>
            <div class="col">
                <div class="rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1 mb-5">
                    <div class="bg-light text-center p-3"><%= indicateur_clean :impact_social_part_handicap %></div>
                    <div class="bg-white m-0 p-2">
                        <div class="d-flex">
                        <%= single_value_pie_chart(@impact_social_part_handicap) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end%>
    </div>

    <h4 class="my-3 py-3 py-sm-5 my-sm-5"><b class="text-primary">III.</b> <u class="text-secondary text-decoration-none">Engagement</u> en faveur de <u class="text-secondary text-decoration-none">l'écosystème</u> et du <u class="text-secondary text-decoration-none">territoire</u></h4>

    <div class="row indic-row mb-5">
        <% unless @impact_engagement[indicateur_clean :impact_engagement_part_placements_responsables].nil? %>
            <div class="col">
                <div class="rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
                    <div class="bg-light text-center p-3"><%= indicateur_clean :impact_engagement_part_placements_responsables %> (médiane)</div>
                    <div class="bg-white m-0 p-2">
                        <div class="d-flex">
                            <%= single_value_pie_chart(@impact_engagement[indicateur_clean :impact_engagement_part_placements_responsables])%>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% unless @impact_engagement[indicateur_clean :impact_engagement_part_impots_france].nil? %>
            <div class="col">
                <div class="rounded shadow col-12 p-0 overflow-hidden d-flex flex-column flex-grow-1">
                    <div class="bg-light text-center p-3"><%= indicateur_clean :impact_engagement_part_impots_france %> (médiane)</div>
                    <div class="bg-white m-0 p-2">
                        <div class="d-flex">
                            <%= single_value_pie_chart(@impact_engagement[indicateur_clean :impact_engagement_part_impots_france])%>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <% unless @impact_engagement[indicateur_clean :impact_engagement_part_resultat_missions_utiles].nil? %>
        <div class="estim d-invers">
          <div class="rounded shadow col-12 p-0 overflow-hidden mb-5 d-flex flex-column">
            <div class="bg-light text-center p-3"><%= indicateur_clean :impact_engagement_part_resultat_missions_utiles %> (médiane)</div>
              <div class="bg-white m-0 p-2">
                  <div class="d-flex">
                      <%= single_value_pie_chart(@impact_engagement[indicateur_clean :impact_engagement_part_resultat_missions_utiles]) %>
                  </div>
                </div>
            </div>
          </div>
        </div>
    <% end %>
    <% unless @impact_engagement_demarche_ethique_fournisseurs.nil? %>
        <div class="rounded shadow col-12 col-mb-5 p-0 overflow-hidden mb-5">
            <div class="bg-white m-0 p-2">
                <div class="d-flex">
                    <%= pie_chart @impact_engagement_demarche_ethique_fournisseurs, suffix: '%' %>
                </div>
            </div>
        </div>
    <% end %>
</div>
</div>
