<h1><b class="text-secondary">2.</b> <%= t 'pillars.2' %></h1>
<div class="row">
  <div class="col-lg-8">
    <p class="lead mt-5">
      La démocratie dans l’entreprise se traduit entre autres par la recherche de <b class="text-secondary">stabilité</b>, de <b class="text-secondary">robustesse</b>, d’<b class="text-secondary">efficacité</b> et de <b class="text-secondary">rentabilité</b> sans maximisation du profit à court terme ; ainsi que par la <b class="text-secondary">distribution équitable des richesses</b> produites.
    </p>
  </div>
</div>

<h2><b class="text-primary">I.</b>Pérennité : création de valeur, inaliénabilité et robustesse de l'entreprise</h2>

<div class="row my-sm-5 pt-5">
  <% unless @valeur_perennite_booleens[:valeur_perennite_existence_reserve].nil? %>
  <div class="col-md-6">
    <%= pie_chart @valeur_perennite_booleens[:valeur_perennite_existence_reserve], suffix: '%' %>
  </div>
  <% end %>
  <% unless @valeur_perennite_booleens[:valeur_perennite_reserve_impartageable].nil? %>
  <div class="col-md-6">
    <%= pie_chart @valeur_perennite_booleens[:valeur_perennite_reserve_impartageable], suffix: '%' %>
  </div>
  <% end %>
</div>

<div class="pt-3">
<% unless @valeur_perennite_booleens[:valeur_perennite_attention_questions_innovation].nil? %>
  <%= pie_chart @valeur_perennite_booleens[:valeur_perennite_attention_questions_innovation], suffix: '%' %>
<% end %>
</div>

<h2><b class="text-primary">II.</b>Partage des richesses</h2>

<div class="my-5 bg-white p-3 rounded d-none d-sm-block">
  <%= bar_chart @valeur_part_resultat, suffix: "%", max: 100 %>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Indicateur</th>
        <th scope="col">Valeur médiane</th>
      </tr>
    </thead>
    <tbody>
      <% @valeur_part_resultat.each do |field, value| %>
      <tr>
        <td><%= field %></td>
        <td class="text-primary"><%= value %>%</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-md-4 rounded">
    <div class="bg-secondary text-center text-white p-3 fs-1 fw-bold">
    <%= State.evaluations
            .up_to_date
            .average(:valeur_partage_ecart_revenus_hauts_bas) %>€
    </div>
    <div class="bg-white p-3">
    d'écart moyen entre les 5 revenus les plus hauts et les 5 plus bas
    </div>
  </div>
  <div class="col"></div>
</div>

<% unless @valeur_partage_booleens[:valeur_partage_existence_accord].nil? %>
  <div class="my-5">
    <%= pie_chart @valeur_partage_booleens[:valeur_partage_existence_accord], suffix: '%' %>
  </div>
<% end %>
<% unless @valeur_partage_booleens[:valeur_partage_existence_epargne_salariale].nil? %>
  <div class="my-5">
    <%= pie_chart @valeur_partage_booleens[:valeur_partage_existence_epargne_salariale], suffix: '%' %>
  </div>
<% end %>

<div class="row my-5">
  <% unless @valeur_partage_booleens[:valeur_partage_existence_grille_salariale].nil? %>
  <div class="col-md-6">
    <%= pie_chart @valeur_partage_booleens[:valeur_partage_existence_grille_salariale], suffix: '%' %>
  </div>
  <% end %>
  <% unless @valeur_partage_booleens[:valeur_partage_publicite_grille].nil? %>
  <div class="col-md-6">
    <%= pie_chart @valeur_partage_booleens[:valeur_partage_publicite_grille], suffix: '%' %>
  </div>
  <% end %>
</div>
