<div class="row">
  <div class="col-lg-8">
    <h1><b class="text-secondary">2.</b> Pérennité économique et partage de la valeur créée</h1>
    <p class="lead">
      L’enjeu de la <b class="text-secondary">démocratie dans l’entreprise</b> s’exprime également dans un modèle de développement pérenne visant <b class="text-secondary">stablilité, robustesse, efficacité et rentabilité</b> sans maximisation du profit à court terme. Il s’agit également de garantir l’autonomie de l’entreprise, voir l’inaliénabilité de la structure. Par ailleurs, seconjuguent positivement une large association aux orientations stratégiques, une distribution équitable des richesses produites entre les parties prenantes internes de l’entreprise et performance.
    </p>
  </div>
</div>

<h2><b class="text-primary">I.</b>Pérennité : création de valeur, inaliénabilité et robustesse de l'entreprise</h2>

<div class="row mb-5">
  <% unless @valeur_perennite_booleens[:valeur_perennite_existence_reserve].nil? %>
  <div class="col-md-6">
    <%= pie_chart @valeur_perennite_booleens[:valeur_perennite_existence_reserve], suffix: '%' %>
  </div>
  <% end %>
  <% unless @valeur_perennite_booleens[:valeur_perennite_reserve_impartageable].nil? %>
  <div class="col-md-6">
    <%= pie_chart @valeur_perennite_booleens[:valeur_perennite_reserve_impartageable], suffix: '%' %>
  </div>
  <% end %>
</div>

<% unless @valeur_perennite_booleens[:valeur_perennite_attention_questions_innovation].nil? %>
  <%= pie_chart @valeur_perennite_booleens[:valeur_perennite_attention_questions_innovation], suffix: '%' %>
<% end %>

<h2><b class="text-primary">II.</b>Partage des richesses</h2>

<%= bar_chart @valeur_part_resultat, suffix: "%" %>

<div class="row mb-5">
  <div class="col-md-6">
    <%= State.evaluations
              .up_to_date
              .median(:valeur_partage_ecart_revenus_hauts_bas) %>
    </p>
    <p class="text-center mt-3">
      <%= indicateur_clean :pouvoir_gouvernance_diversite_categories %>
    </p>
  </div>
  <div class="col-md-6">
    <%= State.evaluations
              .up_to_date
              .median(:valeur_partage_ecart_revenus_hauts_bas) %>
    </p>
    <p class="text-center mt-3">
      <%= indicateur_clean :pouvoir_gouvernance_diversite_categories %>
    </p>
  </div>
</div>

<% unless @valeur_perennite_booleens[:valeur_partage_existence_accord].nil? %>
  <%= pie_chart @valeur_perennite_booleens[:valeur_partage_existence_accord], suffix: '%' %>
<% end %>
<% unless @valeur_perennite_booleens[:valeur_partage_existence_epargne_salariale].nil? %>
  <%= pie_chart @valeur_perennite_booleens[:valeur_partage_existence_epargne_salariale], suffix: '%' %>
<% end %>

<div class="row mb-5">
  <% unless @valeur_perennite_booleens[:valeur_partage_existence_grille_salariale].nil? %>
  <div class="col-md-6">
    <%= pie_chart @valeur_perennite_booleens[:valeur_partage_existence_grille_salariale], suffix: '%' %>
  </div>
  <% end %>
  <% unless @valeur_perennite_booleens[:valeur_partage_publicite_grille].nil? %>
  <div class="col-md-6">
    <%= pie_chart @valeur_perennite_booleens[:valeur_partage_publicite_grille], suffix: '%' %>
  </div>
  <% end %>
</div>