<h1><b class="text-secondary">3.</b> <%= t 'pillars.3' %></h1>
<div class="row">
  <div class="col-lg-8">
    <p class="lead mt-5">
      La citoyenneté économique met l’accent sur le bien-être au travail, par la <b class="text-secondary">prévention des risques professionnels</b> et la promotion de l’<b class="text-secondary">émancipation</b>, du <b class="text-secondary">pouvoir d’agir</b> et de l’<b class="text-secondary">autonomie des salariés</b>. Le lien entre efficacité économique, responsabilisation, satisfaction des salariés et qualité de vie au travail est reconnu.
    </p>
  </div>
</div>

<h2><b class="text-primary">I.</b>Qualité de vie au travail</h2>

<div class="my-5">
  <div class="row my-5">
    <div class="col-md-6">
      <%= pie_chart @qualite_qvt_enquete_qvt, suffix: '%' %>
      <p class="text-center mt-3">
        <%= indicateur_clean :qualite_qvt_enquete_qvt %>
      </p>
    </div>
    <div class="col-md-6">
      <div class="rounded">
        <div class="bg-secondary text-center text-white p-3 fs-1 fw-bold">
          <%= State.evaluations
                   .up_to_date
                   .average(:qualite_qvt_moyenne_anciennete) %> ans
        </div>
        <div class="bg-white p-3">
          d'ancienneté moyenne
        </div>
      </div>
    </div>
  </div>

  <div class="rounded bg-white p-3">
    <%= bar_chart @qualite_qvt_taux_all, suffix: "%", max: 100 %>
    <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Indicateur</th>
        <th scope="col">Valeur médiane</th>
      </tr>
    </thead>
    <tbody>
      <% @qualite_qvt_taux_all.each do |field, value| %>
      <tr>
        <td><%= field %></td>
        <td class="text-primary"><%= value %>%</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

<h2>
  <b class="text-primary">II.</b>
  Développement des compétences individuelles et collectives<br/>
  Emancipation des salariés
</h2>

<div class="my-5">
  <%= single_value_pie_chart State.evaluations
                  .up_to_date
                  .average(:qualite_emancipation_moyenne_heures_formation) %>
  <p class="text-center mt-3">
    <%= indicateur_clean :qualite_emancipation_moyenne_heures_formation %>
  </p>
</div>

<div class="rounded bg-white p-3">
<%= bar_chart @qualite_emancipation_taux, suffix: "%" %>
<table class="table mt-5">
  <thead>
      <tr>
        <th scope="col">Indicateur</th>
        <th scope="col">Valeur médiane</th>
      </tr>
    </thead>
    <tbody>
      <% @qualite_emancipation_taux.each do |field, value| %>
      <tr>
        <td><%= field %></td>
        <td class="text-primary"><%= value %>%</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
