<h1><b class="text-secondary">1.</b> <%= t 'pillars.1' %></h1>
<div class="row">
  <div class="col-lg-8">
    <p class="lead mt-5">
      Le premier pilier, dont les trois autres découlent, la <b class="text-secondary">gouvernance démocratique</b> s’exprime par le <b class="text-secondary">partage du pouvoir et des décisions</b>.
      <br/><br/>
      La robustesse de ce pilier dédié à la gouvernance démocratique est un indicateur à part entière de la capacité de l’entreprise à déployer les actions quant à sa pérennité économique et le partage de la valeur créée, la qualité de vie au travail et le bien-être des salariés, mais également les actions à impact social, environnemental et territorial. La composition de la gouvernance est l’élément le plus visible, nécessaire à interroger s’agissant de l’expression d’un pouvoir partagé. Il convient cependant d’apprécier les conditions de mise en œuvre par la mise à disposition des connaissances ainsi que les expressions de participation des parties prenantes internes.
    </p>
  </div>
</div>

<div class="public">
<h2 class="pb-5"><b class="text-primary">I.</b>Composition de la gouvernance</h2>

<div class="rounded bg-white p-5 my-5">
  <%= bar_chart @pouvoir_gouvernance_taux, suffix: "%", title: 'Indicateurs clés (taux médians)', max: 100 %>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Indicateur</th>
      <th scope="col">Valeur médiane</th>
    </tr>
  </thead>
  <tbody>
    <% @pouvoir_gouvernance_taux.each do |field, value| %>
    <tr>
      <td><%= field %></td>
      <td class="text-primary"><%= value %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="row py-5">
  <div class="col-md-6 mb-5">
      <%= single_value_pie_chart State.evaluations
                                      .up_to_date
                                      .median(:pouvoir_gouvernance_part_salaries_conseil) %>
      <p class="text-center mt-3">
        <%= indicateur_clean :pouvoir_gouvernance_part_salaries_conseil %>
      </p>
  </div>
  <div class="col-md-6 mb-5">
      <%= single_value_pie_chart State.evaluations
                                  .up_to_date
                                  .median(:pouvoir_gouvernance_part_salaries_conseil) %>
      <p class="text-center mt-3">
        <%= indicateur_clean :pouvoir_gouvernance_part_salaries_conseil %>
      </p>
  </div>
</div>

<div class="col-md-6 mx-auto p-3">
  <%= pie_chart State.evaluations
                      .up_to_date
                      .pluck(:pouvoir_gouvernance_diversite_categories)
                      .flatten
                      .compact
                      .tally %>
  <p class="text-center mt-3">
    <%= indicateur_clean :pouvoir_gouvernance_diversite_categories %>
  </p>
</div>



<h2 class="pt-5"><b class="text-primary">II.</b> Mise en place des conditions du bon exercice de la démocratie</h2>

<div class="row mt-5 pt-5">

  <div class="col-sm-4 lead mb-5">
    <div>
      <div class="bg-secondary text-center text-white rounded-top p-3 fs-1 fw-bold">
      <%= State.evaluations
              .up_to_date
              .median(:pouvoir_democratie_nombre_reunions) %> 
      </div>
      <div class="bg-white rounded-bottom p-3">
      réunions par an entre les salariés et les associés organisées par la gouvernance.
      </div>
    </div>
  </div>

    <div class="col-sm-4 lead mb-5">
    <div>
      <div class="bg-secondary text-center text-white rounded-top p-3 fs-1 fw-bold">
      <%= State.evaluations
              .up_to_date
              .median(:pouvoir_democratie_taux_participation_formations) %> %
      </div>
      <div class="bg-white rounded-bottom p-3">
        des salariés participent à des formations sur le fonctionnement d'une entreprise et/ou à des dispositifs d'intégration dans l'entreprise.
      </div>
    </div>
  </div>

    <div class="col-sm-4 lead mb-5">
    <div>
      <div class="bg-secondary text-center text-white rounded-top p-3 fs-1 fw-bold">
      <%= State.evaluations
              .up_to_date
              .median(:pouvoir_democratie_nombre_accords_signes) %>
      </div>
      <div class="bg-white rounded-bottom p-3">
        accords signés en moyenne entre les représentants du personnel et la direction.
      </div>
    </div>
  </div>
</div>




<h2>III. Participation à la prise de décision stratégique</h2>

<div class="row mt-5 pt-5">
  <div class="col-md-4 mb-5">
      <%= single_value_pie_chart State.evaluations
                                      .up_to_date
                                      .median(:pouvoir_strategique_taux_presence_assemblee) %>
      <p class="mt-3">
        <%= indicateur_clean :pouvoir_strategique_taux_presence_assemblee %>
      </p>
  </div>

  <div class="col-md-4 mb-5">
      <%= single_value_pie_chart State.evaluations
                                  .up_to_date
                                  .median(:pouvoir_strategique_implication_partage) %>
      <p class="mt-3">
        <%= indicateur_clean :pouvoir_strategique_implication_partage %>
      </p>
  </div>

  <div class="col-md-4 mb-5">
        <%= single_value_pie_chart State.evaluations
                                  .up_to_date
                                  .median(:pouvoir_strategique_actifs_total) %>
      <p class="mt-3">
        <%= indicateur_clean :pouvoir_strategique_actifs_total %>
      </p>
  </div>
</div>
</div>
