<h1><b class="text-secondary">4.</b> <%= t 'pillars.4' %></h1>
<div class="row">
  <div class="col-lg-8">
    <p class="lead mt-5">
      Vigueur dans les engagements <b class="text-secondary">environnementaux</b>, attention envers la qualité de son <b class="text-secondary">impact social</b>, <b class="text-secondary">intégration harmonieuse de l’entreprise à ses écosystèmes</b> sont autant d’indicateurs d’une citoyenneté économique.
      Certains d'entre eux font directement référence aux 17 objectifs de développement durable adoptés par l’ONU dans le cadre de l’<b class="text-secondary">Agenda 2030</b>.
    </p>
  </div>
</div>

<h2><b class="text-primary">I.</b>Impact environnemental</h2>

<div class="row my-5">
  <% unless @impact_environnement_booleens[:impact_environnement_audit_impact].nil?  %>
    <div class="col-md-6">
      <%= pie_chart @impact_environnement_booleens[:impact_environnement_audit_impact], suffix: '%' %>
    </div>
  <% end %>
  <% unless @impact_environnement_booleens[:impact_environnement_demarche_ecologique].nil?  %>
    <div class="col-md-6">
      <%= pie_chart @impact_environnement_booleens[:impact_environnement_discussion_impact], suffix: '%' %>
    </div>
  <% end %>
</div>

<% unless @impact_environnement_booleens[:impact_environnement_discussion_impact].nil?  %>
  <%= pie_chart @impact_environnement_booleens[:impact_environnement_demarche_ecologique], suffix: '%' %>
<% end %>

<div class="row my-5">
  <div class="col-md-6">
    <%= single_value_pie_chart State.evaluations
                    .up_to_date
                    .median(:impact_environnement_part_energies_renouvelables)
                    .round(1) %>
    <p class="text-center mt-3">
      <%= indicateur_clean :impact_environnement_part_energies_renouvelables %>
    </p>
  </div>
  <div class="col-md-6">
    <%= single_value_pie_chart State.evaluations
                    .up_to_date
                    .median(:impact_environnement_part_salaries_mobilite)
                    .round(1) %>
    <p class="text-center mt-3">
      <%= indicateur_clean :impact_environnement_part_salaries_mobilite %>
    </p>
  </div>
</div>

<div class="rounded bg-white p-3">
  <div class="d-none d-sm-block">
    <% unless @impact_environnement_scope_implications.nil?  %>
      <%= bar_chart @impact_environnement_scope_implications, suffix: '%', max: 100 %>
    <% end %>
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Indicateur</th>
        <th scope="col">Part des entreprises impliquées</th>
      </tr>
    </thead>
    <tbody>
      <% @impact_environnement_scope_implications.each do |field, value| %>
      <tr>
        <td><%= field %></td>
        <td class="text-primary"><%= value %>%</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2><b class="text-primary">II.</b>Impact social</h2>

<div class="row my-5">
  <div class="col-md-6">
  <%= single_value_pie_chart State.evaluations
                  .up_to_date
                  .median(:impact_social_part_activite_structures_insertion)
                  .round(1) %>
  <p class="text-center mt-3">
    <%= indicateur_clean :impact_social_part_activite_structures_insertion %>
  </p>
  </div>
  <div class="col-md-6">
  <%= single_value_pie_chart State.evaluations
                  .up_to_date
                  .median(:impact_social_alternance_apprentissage)
                  .round(1) %>
  <p class="text-center mt-3">
    <%= indicateur_clean :impact_social_alternance_apprentissage %>
  </p>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-6">
    <%= single_value_pie_chart State.evaluations
                    .up_to_date
                    .median(:impact_social_part_seniors)
                    .round(1) %>
    <p class="text-center mt-3">
      <%= indicateur_clean :impact_social_part_seniors %>
    </p>
  </div>
  <div class="col-md-6">
    <%= single_value_pie_chart State.evaluations
                    .up_to_date
                    .median(:impact_social_part_handicap)
                    .round(1) %>
    <p class="text-center mt-3">
      <%= indicateur_clean :impact_social_part_handicap %>
    </p>
  </div>
</div>

<h2><b class="text-primary">III.</b>Engagement en faveur de l'écosystème et du territoire</h2>

<div class="row my-5">
  <% unless @impact_engagement[indicateur_clean :impact_engagement_part_placements_responsables].nil? %>
    <div class="col-md-6">
      <%= single_value_pie_chart @impact_engagement[indicateur_clean :impact_engagement_part_placements_responsables] %>
      <p class="text-center mt-3">
        <%= indicateur_clean :impact_engagement_part_placements_responsables %>
      </p>
    </div>
  <% end %>
  <% unless @impact_engagement[indicateur_clean :impact_engagement_part_impots_france].nil? %>
    <div class="col-md-6">
      <%= single_value_pie_chart @impact_engagement[indicateur_clean :impact_engagement_part_impots_france] %>
      <p class="text-center mt-3">
        <%= indicateur_clean :impact_engagement_part_impots_france %>
      </p>
    </div>
  <% end %>
</div>

<% unless @impact_engagement[indicateur_clean :impact_engagement_part_resultat_missions_utiles].nil? %>
  <div class="col-md-6">
    <%= single_value_pie_chart @impact_engagement[indicateur_clean :impact_engagement_part_resultat_missions_utiles] %>
    <p class="text-center mt-3">
      <%= indicateur_clean :impact_engagement_part_resultat_missions_utiles %>
    </p>
  </div>
<% end %>

<div class="my-5">
<% unless @impact_engagement_demarche_ethique_fournisseurs.nil? %>
  <%= pie_chart @impact_engagement_demarche_ethique_fournisseurs, suffix: '%' %>
<% end %>
</div>
