<%= simple_form_for [:admin, @organisation] do |f| %>
  <div class="row col-12 col-sm-8 text-break me-auto ms-auto rounded bg-white shadow p-3 p-sm-4 mb-5 mt-0 mt-sm-5">
    <div class="col-form col">
      <%= f.input :nom %>
      <%= f.input :statut_juridique, collection: Organisation.statut_juridiques.keys %>
      <%= f.input :date_creation %>
      <%= f.input :secteur_activite %>
    </div>
    <div class="col-form col">
      <%= f.input :ape %>
      <%= f.input :siren %>
      <%= f.input :agrement_specifique %>
    </div>
  </div>

  <div class="col-form col-sm-8 text-break me-auto ms-auto rounded bg-white shadow p-3 p-sm-4 mb-5 col-input">
    <%= f.input :objectifs_extra_financiers, as: :radio_buttons %>
  </div>

  <div class="col-form col-sm-8 text-break me-auto ms-auto rounded bg-white shadow p-3 p-sm-4 mb-5">
    <%= f.input :distinctions %>
  </div>

  <div class="col-form col-sm-8 text-break me-auto ms-auto rounded bg-white shadow p-3 p-sm-4 mb-5">
    <%= f.input :valeurs_entreprise %>
  </div>
  <div class="d-flex justify-content-center">
    <%= f.button :submit, "Enregistrer", class: 'btn btn-primary shadow' %>
  </div>
<% end %>
