<div class="view">
  <%= simple_form_for [:admin, @organisation] do |f| %>
    <div class="row my-5">
      <div class="col-sm-4">
        <%= f.input :nom %>
      </div>
      <div class="col-sm-4">
        <%= f.input :statut_juridique, collection: Organisation.statut_juridiques.keys %>
      </div>
      <div class="col-sm-4">
        <%= f.input :date_creation %>
      </div>
      <div class="col-sm-4">
        <%= f.input :secteur_activite %>
      </div>
      <div class="col-sm-4">
        <%= f.input :ape %>
      </div>
      <div class="col-sm-4">
        <%= f.input :siren %>
      </div>
      <div class="col-sm-4">
        <%= f.input :agrement_specifique %>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-sm-4 col-input">
        <%= f.input :objectifs_extra_financiers, as: :radio_buttons %>
      </div>
      <div class="col-sm-4">
        <%= f.input :distinctions %>
      </div>
      <div class="col-sm-4">
        <%= f.input :valeurs_entreprise %>
      </div>
    </div>

    <div class="text-center my-5">
      <%= f.button :submit, "Enregistrer", class: 'btn btn-primary shadow' %>
    </div>
  <% end %>
</div>
<script>
  function toggleRadio(event) {
    if(event.target.type === 'radio' && event.target.checked === true) {
      setTimeout(()=>{ event.target.checked = false; },0);
    }
  }
document.addEventListener('mouseup', toggleRadio);
</script>
