<p style="color: green"><%= notice %></p>

<%= render @organisation %>

<div>
  <%= link_to "Éditer cette organisation", edit_organisation_path(@organisation) %> |
  <%= link_to "Retour aux organisations", organisations_path %>

  <%= button_to "Supprimer cette organisation", @organisation, method: :delete %>
</div>
