<div class="row">
  <div class="col-lg-8">
    <h1>
      Résultats pour l'année <%= @evaluation.annee %>
    </h1>
  </div>
</div>

<!-- IMPACT 1 -->

<h2>Partage du pouvoir et décisions</h2>

<h3><b class="text-primary">I.</b> Composition de la gouvernance</h3>

<%= single_value_pie_chart @state.pouvoir_gouvernance_part_salaries_associes %>
<%= single_value_pie_chart @state.pouvoir_gouvernance_taux_societariat_femmes %>
<%= single_value_pie_chart @state.pouvoir_gouvernance_taux_droits_vote_salaries %>
<%= single_value_pie_chart @state.pouvoir_gouvernance_part_salaries_conseil %>
<%= single_value_pie_chart @state.pouvoir_gouvernance_part_femmes_conseil %>

<% @state.pouvoir_gouvernance_diversite_categories.each do |category| %>
  <p><%= category %></p>
<% end unless @state.pouvoir_gouvernance_diversite_categories.nil? %>

<h3><b class="text-primary">II.</b> Mise en place des conditions du bon exercice de la démocratie</h3>

<%= @state.pouvoir_democratie_nombre_accords_signes %>
<%= @state.pouvoir_democratie_accords_signes %>

<%= single_value_pie_chart @state.pouvoir_democratie_taux_participation_formations %>

<h3><b class="text-primary">III.</b> Participation à la prise de décision stratégique</h3>

<%= single_value_pie_chart @state.pouvoir_strategique_taux_presence_assemblee %>
<%= single_value_pie_chart @state.pouvoir_strategique_implication_partage %>
<%= single_value_pie_chart @state.pouvoir_strategique_actifs_total %>

<%= single_value_pie_chart @state.pouvoir_estimation_realite, suffix: "/10", max: 10 %>

<!-- IMPACT 2 -->

<h2>Pérennité économique et partage de la valeur créée</h2>

<h3><b class="text-primary">I.</b> Pérennité : création de valeur, inaliénabilité et robustesse de l'entreprise</h3>

<%= single_value_pie_chart @state.valeur_perennite_part_capital_salaries %>
<%= single_value_pie_chart @state.valeur_perennite_part_resultat_reserve %>
<%= single_value_pie_chart @state.valeur_perennite_ebe_caht %>
<%= single_value_pie_chart @state.valeur_perennite_part_endettement %>

<%= boolean_state_field @state, :valeur_perennite_existence_reserve %>
<%= boolean_state_field @state, :valeur_perennite_reserve_impartageable %>
<%= boolean_state_field @state, :valeur_perennite_attention_questions_innovation %>

<h3><b class="text-primary">II.</b> Partage des richesses</h3>

<%= single_value_pie_chart @state.valeur_partage_part_resultat_net_actionnaires %>
<%= single_value_pie_chart @state.valeur_partage_part_resultat_salaries %>

<%= boolean_state_field @state, :valeur_partage_existence_accord %>
<%= boolean_state_field @state, :valeur_partage_existence_epargne_salariale %>
<%= boolean_state_field @state, :valeur_partage_existence_grille_salariale %>
<%= boolean_state_field @state, :valeur_partage_publicite_grille %>

<p><%= @state.valeur_partage_ecart_revenus_hauts_bas %>€</p>
<%= single_value_pie_chart @state.valeur_partage_index_egalite_homme_femme, suffix: "/100" %>
<%= single_value_pie_chart @state.valeur_estimation_realite, suffix: "/10", max: 10 %>


<!-- IMPACT 3 -->

<h2>Capital humain et qualité de vie au travail</h2>

<h3><b class="text-primary">I.</b> Qualité de vie au travail / épanouissement des salariés</h3>

<%= boolean_state_field @state, :qualite_qvt_enquete_qvt %>

<%= single_value_pie_chart @state.qualite_qvt_taux_qvt %>
<%= single_value_pie_chart @state.qualite_qvt_part_cdi %>
<%= single_value_pie_chart @state.qualite_qvt_taux_turnover %>
<%= single_value_pie_chart @state.qualite_qvt_taux_absenteisme %>

<p><%= @state.qualite_qvt_moyenne_anciennete %> ans</p>

<h3>
  <b class="text-primary">II.</b>
  Développement des compétences individuelles et collectives<br>
  Emancipation des salariés
</h3>

<p><%= @state.qualite_emancipation_moyenne_heures_formation %> heures</p>
<%= single_value_pie_chart @state.qualite_emancipation_taux_budget_formation_masse_salariale %>
<%= single_value_pie_chart @state.qualite_emancipation_taux_direction_promotion_interne %>

<%= single_value_pie_chart @state.qualite_estimation_realite, suffix: "/10", max: 10 %>

<!-- IMPACT 4 -->

<h2>Impact environnemental, social et territorial</h2>

<h3><b class="text-primary">I.</b> Impact environnemental</h3>

<%= boolean_state_field @state, :impact_environnement_audit_impact %>
<%= boolean_state_field @state, :impact_environnement_demarche_ecologique %>
<%= boolean_state_field @state, :impact_environnement_discussion_impact %>

<%= single_value_pie_chart @state.impact_environnement_part_energies_renouvelables %>
<%= single_value_pie_chart @state.impact_environnement_part_salaries_mobilite %>

<%= boolean_state_field @state, :impact_environnement_bilan_carbone_scope_1 %>
<%= boolean_state_field @state, :impact_environnement_bilan_carbone_scope_2 %>
<%= boolean_state_field @state, :impact_environnement_bilan_carbone_scope_3 %>

<h3><b class="text-primary">II.</b> Impact social</h3>

<%= single_value_pie_chart @state.impact_social_part_activite_structures_insertion %>
<%= single_value_pie_chart @state.impact_social_alternance_apprentissage %>
<%= single_value_pie_chart @state.impact_social_part_seniors %>
<%= single_value_pie_chart @state.impact_social_part_handicap %>

<h3><b class="text-primary">III.</b> Engagement en faveur de l'écosystème et du territoire</h3>

<%= single_value_pie_chart @state.impact_engagement_part_resultat_missions_utiles %>
<%= single_value_pie_chart @state.impact_engagement_part_placements_responsables %>
<%= single_value_pie_chart @state.impact_engagement_part_impots_france %>

<%= boolean_state_field @state, :impact_engagement_demarche_ethique_fournisseurs %>

<%= single_value_pie_chart @state.impact_estimation_realite, suffix: "/10", max: 10 %>

<%= link_to "Retourner au dashboard", admin_path, class: "btn btn-secondary me-3" %>