<div id="<%= dom_id organisation %>">
  <p>
    <strong>Nom:</strong>
    <%= organisation.nom %>
  </p>

  <p>
    <strong>Statut juridique:</strong>
    <%= organisation.statut_juridique %>
  </p>

  <p>
    <strong>Date creation:</strong>
    <%= organisation.date_creation %>
  </p>

  <p>
    <strong>Secteur activite:</strong>
    <%= organisation.secteur_activite %>
  </p>

  <p>
    <strong>Ape:</strong>
    <%= organisation.ape %>
  </p>

  <p>
    <strong>Siren:</strong>
    <%= organisation.siren %>
  </p>

  <p>
    <strong>Nombre salaries:</strong>
    <%= organisation.nombre_salaries %>
  </p>

  <p>
    <strong>Nombre salaries etp:</strong>
    <%= organisation.nombre_salaries_etp %>
  </p>

  <p>
    <strong>Chiffre affaires:</strong>
    <%= organisation.chiffre_affaires %>
  </p>

  <p>
    <strong>Agrement specifique:</strong>
    <%= organisation.agrement_specifique %>
  </p>

  <p>
    <strong>Objectifs extra financiers:</strong>
    <%= organisation.objectifs_extra_fianciers %>
  </p>

  <p>
    <strong>Distinctions:</strong>
    <%= organisation.distinctions %>
  </p>

  <p>
    <strong>Valeurs entreprise:</strong>
    <%= organisation.valeurs_entreprise %>
  </p>

  <p>
    <strong>Validation admin:</strong>
    <%= organisation.validation_admin %>
  </p>

</div>
