<!DOCTYPE html>
<html>
  <head>
    <title>Citoyenneté Économique</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/favicon.ico"/>
  </head>

  <body>
    <%= render 'nav' %>
    <main>
      <div class="container py-5 mt-sm-5">
        <% if breadcrumbs.many? %>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb small">
              <%= render_breadcrumbs builder: BootstrapBreadcrumbsBuilder %>
            </ol>
          </nav>
        <% end %>
        <%= render 'flash' %>
        <%= yield %>
      </div>
    </main>
    <%= render 'footer' %>
  </body>
</html>
