<!DOCTYPE html>
<html>
    <head>
        <title>CitoyenneteEconomique</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <!-- SG Admin 2 dependencies -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" integrity="sha256-mUZM63G8m73Mcidfrv5E+Y61y7a12O5mW4ezU3bxqW4=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/js/fontawesome.min.js" integrity="sha256-1lGQuZh8a4EiccMxEc18J0h4nhr5oCmXEXPzca+Lbrk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha256-sCElQ8xaSgoxwbWp0eiXMmGZIRa0z94+ffzzO06BqXs=" crossorigin="anonymous"></script>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

    <%
        sidebar_shown = true
    %>

    <body class="bg-white">
    <!-- NavBar -->
        <div id="navigationBar" class="navigationBar bg-white container-fluid pr-3 pl-3 pb-3 pt-1">
            <div class="row">
                <div class="d-flex align-items-center col-md-3">
                    <a href="/" class="logoSite">
                        <span>c</span>
                        <%= image_tag 'titre.svg', alt: 'logo de la citoyenneté économique' %>
                        <b class="text-primary">.</b>
                    </a>
                </div>
                <div class="d-flex align-items-center justify-content-around col-md-6 ">
                    <a class="text-black" href="#">Statistiques</a>
                    <%= link_to "Entreprises", entreprises_path, class: "text-black" %>
                    <a class="text-black" href="#">Contact</a>
                </div>
                <div class="d-flex align-items-center justify-content-end col-md-3">
                    <% if not user_signed_in? %>
                        <%= button_to "Connexion", new_user_session_path, class: "btn btn-white pb-2 mr-2", method: :get %>
                        <%= button_to "Inscription", new_user_registration_path, class: "btn btn-primary pb-2 ml-2", method: :get %>
                    <% else %>
                        <div class="d-flex align-items-baseline">
                            <%= link_to "Bienvenue, #{ current_user } !", user_root_path, class: "mr-3" %>
                            <%= button_to "Déconnexion", destroy_user_session_path, class: "btn btn-primary pb-2 mr-2", method: :delete, form: {data: {turbo: false}} %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

      <!-- Page Wrapper -->
    <div id="wrapper" class="bg-light pb-5">
    
    
    <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
            
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <p><%= flash[:notice] %></p>
                    <p><%= flash[:alert] %></p>
                    <%= yield %>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

     <!-- Footer -->
    <footer class="sticky-footer bg-white d-flex justify-content-between">
        <div class="m-5 d-flex flex-column align-items-start">
            <a href="#" class="text-dark">Mentions légales</a>
            <a href="#" class="mb-3 mt-3 text-dark">Conditions générales d'utilisation</a>
            <a href="#" class="text-dark">Politique de confidentialité</a>
        </div>
        <div class="copyright text-center m-5 d-flex flex-column align-items-center">
            <a href="/">
                <%= image_tag 'titre.svg', alt: 'logo de la citoyenneté économique' %>
            </a>
            <span class="mt-4">Copyleft <span class="copyleft">&copy;</span> Maxime LASSERRE, Samuel LABAGNÈRE, Samuel ABADIE, Olivia SIMONET, Sarah MARGUERETTAZ, Théo DESCHAMPS, Yani MADEBOS, Mathéo REULIER, Maxime REBIERE, Laurent MALUCELLI, Thomas MARILLEAU</span>
        </div>
        <div class="m-5 d-flex flex-column align-items-end text-right">
            <a href="#" class="text-dark">Statistiques</a>
            <a href="#" class="mb-3 mt-3 text-dark">Les entreprises</a>
            <a href="#" class="text-dark">Contact</a>
        </div>
    </footer>
    <!-- End of Footer -->

    <script>
    window.onscroll = function() {myFunction()};
    var navbar = document.getElementById("navigationBar");
    var sticky = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
    </script>
  </body>
</html>
