<!DOCTYPE html>
<html>
  <head>
    <title>CitoyenneteEconomique</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- SG Admin 2 dependencies -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" integrity="sha256-mUZM63G8m73Mcidfrv5E+Y61y7a12O5mW4ezU3bxqW4=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/js/fontawesome.min.js" integrity="sha256-1lGQuZh8a4EiccMxEc18J0h4nhr5oCmXEXPzca+Lbrk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha256-sCElQ8xaSgoxwbWp0eiXMmGZIRa0z94+ffzzO06BqXs=" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <%
    sidebar_shown = true
  %>

  <body>
         <!-- NavBar -->
        <div class="navigationBar container-fluid p-3 ">
                    <div class="row">
                        <div class="d-flex align-items-center col-xs-12 col-md-3">
                            <a href="#">
                                <%= image_tag 'titre.svg', alt: 'logo de la citoyenneté économique' %>
                            </a>
                        </div>
                        <div class="d-flex align-items-center justify-content-around row-xs-12 col-md-6 ">
                            <a class="text-black" href="#">Statistiques</a>
                            <a class="text-black" href="#">Entreprises</a>
                            <a class="text-black" href="#">Contact</a>
                        </div>
                        <div class="d-flex align-items-center justify-content-end row-xs-12 col-md-3">
                            <button class="btn btn-white pb-2 mr-2 ">connexion</button>
                            <button class="btn btn-primary pb-2 ml-2">inscription</button>
                        </div>
                    </div>
            </div>
      <!-- Page Wrapper -->
    <div id="wrapper">

        <% if sidebar_shown %>
        <!-- Sidebar -->
        <ul class="navbar-nav bg-light sidebar sidebar-light accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item bg-info principal shadow">
                <a href="index.html" class="text-light">
                    <i class="fas fa-home"></i>
                    <span>Mon entreprise</span></a>
            </li>

            <!-- Nav Item - Impact 1 -->
            <li class="nav-item">
                <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact1"
                    aria-expanded="true" aria-controls="collapseImpact1">
                    <span><b class="text-primary">1.</b> Partage du pouvoir et des  décisions </span>
                </a>
                <div id="collapseImpact1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" href="buttons.html"><b class="text-primary">I.</b> Composition de la gouvernance</a>
                        <a class="collapse-item" href="cards.html"><b class="text-primary">II.</b> Mise en place du bon exercice de la démocratie</a>
                        <a class="collapse-item" href="cards.html"><b class="text-primary">III.</b> Participation à la prise de décision stratégique</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Impact 2 -->
            <li class="nav-item">
                <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact2"
                    aria-expanded="true" aria-controls="collapseImpact2">
                    <span><b class="text-primary">2.</b> Pérennité économique et partage de la valeur créer</span>
                </a>
                <div id="collapseImpact2" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Impact 3 -->
            <li class="nav-item">
                <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact3"
                    aria-expanded="true" aria-controls="collapseImpact3">
                    <span><b class="text-primary">3.</b> Capital humain et qualité de vie au travail</span>
                </a>
                <div id="collapseImpact3" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Impact 4 -->
            <li class="nav-item">
                <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact4"
                    aria-expanded="true" aria-controls="collapseImpact4">
                    <span><b class="text-primary">4.</b> Impact environnemental, social et territorial</span>
                </a>
                <div id="collapseImpact4" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="bg-primary rounded-circle border-0 text-light" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <% end %>
                <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
            
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <p><%= flash[:notice] %></p>
                    <p><%= flash[:alert] %></p>
                    <%= yield %>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
